#

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import os

In [2]:
os.environ['SPARK_HOME'] = r'C:\spark\spark-3.5.4-bin-hadoop3'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

In [3]:
spark = (
    SparkSession
    .builder
    .appName("PySpark Zero to Hero")
    .master("local[*]")
    .config("spark.executor.memory", "16g")
    .config("spark.driver.memory", "16g")
    .config("spark.executor.cores", "4")
    .config("spark.sql.shuffle.partitions", "80")
    .config("spark.dynamicAllocation.enabled", "true")
    .config("spark.dynamicAllocation.minExecutors", "2")
    .config("spark.dynamicAllocation.initialExecutors", "24")
    .config("spark.dynamicAllocation.maxExecutors", "50")
    .config('spark.dynamicAllocation.shuffleTrackingEnabled', 'true')
    .config('spark.dynamicAllocation.executorIdleTimeout', '60')
    .config("spark.shuffle.service.enabled", "true")
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer")
    .getOrCreate()
)

In [4]:
spark.conf.set('spark.sql.adaptive.enabled', 'true')
spark.conf.set('spark.sql.adaptive.coalescePartitions.enabled', 'true')
spark.conf.set('spark.sql.autoBroadcastJoinThreshold', '-1')

In [5]:
df_path = r'F:\DataSpell\-pyspark_training\YouTube\PySpark - Zero to Hero\datasets\employee_records.csv'

_schema = "first_name string, last_name string, job_title string, dob string, email string, phone string, salary double, department_id int"

emp = spark.read.format("csv").schema(_schema).option("header", True).load(df_path)

In [6]:
dept_path = r'F:\DataSpell\-pyspark_training\YouTube\PySpark - Zero to Hero\datasets\department_data.csv'

_dept_schema = "department_id int, department_name string, description string, city string, state string, country string"

dept = spark.read.format("csv").schema(_dept_schema).option("header", True).load(df_path)

In [8]:
spark.conf.get('spark.sql.catalogImplementation')

'in-memory'

In [10]:
db = spark.sql('show databases')

In [11]:
db.show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [13]:
spark.sql('show tables in default').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [15]:
emp.createOrReplaceTempView('emp_view')
dept.createOrReplaceTempView('dept_view')

In [16]:
spark.sql('show tables in default').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |dept_view|       true|
|         | emp_view|       true|
+---------+---------+-----------+

In [21]:
emp_filtered = spark.sql("""
    select * from emp_view
    where department_id = 1
""")

In [22]:
emp_filtered.show()

+-----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+
| first_name|last_name|           job_title|       dob|               email|               phone|  salary|department_id|
+-----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+
|       John|   Monroe|        Retail buyer|1968-06-16|  erik33@example.net|    820-813-0557x624|485506.0|            1|
|    Rachael|Rodriguez|         Media buyer|1966-12-02|griffinmary@examp...| +1-791-344-7586x548|544732.0|            1|
|Christopher| Callahan| Exhibition designer|1966-10-23| qwalter@example.com|001-947-745-3939x...|251057.0|            1|
|    Lindsey|   Huerta|Embryologist, cli...|1964-10-20|  psmith@example.net|   527.934.6665x1378|878257.0|            1|
|      David|   Harris|   Company secretary|1990-04-13|     nli@example.com|001-959-766-1180x...|249553.0|            1|
|      Brian|Hernandez|     Theatre manager|1978-05-05|  lisa93@example.com|        617-444-2378| 99894.0|            1|
|      Peter|  Stevens|   Recycling officer|1983-06-10|jamesparker@examp...|   577-619-5082x8283|842980.0|            1|
|       John|  Acevedo|Leisure centre ma...|1963-10-13|daniel21@example.org|  (247)878-5722x3342|385821.0|            1|
|     Steven|      Lee|Adult guidance wo...|1969-06-01|wernergabriel@exa...|001-564-541-5402x...|336534.0|            1|
|     Denise|     Dean|           Herbalist|1972-06-27|stephenwilliams@e...|        269.375.8072|656850.0|            1|
|      Blake|       Wu| Marketing executive|1965-12-29|  gdoyle@example.net|+1-559-646-6295x3...|470459.0|            1|
|      Billy|    Poole| Animal nutritionist|1969-05-31|maryhill@example.net|        713-637-6222|636619.0|            1|
|       Eric|      Key|               Actor|1992-09-02|colemanshawn@exam...|   368.865.1746x2103|836623.0|            1|
|     Amanda|     Ford|Health service ma...|1990-10-06|strongstephanie@e...|          5088050717|258843.0|            1|
|      Jason|     Page|Historic building...|1964-02-22|woodsdebra@exampl...|001-327-358-1554x413| 76017.0|            1|
|      Kelly|     Pugh|    Heritage manager|1972-07-17|paulmichelle@exam...|001-710-376-9474x...|332664.0|            1|
|      Katie|    Rojas|    Paediatric nurse|1966-12-06|wilsoncurtis@exam...|+1-394-952-6247x7544|318915.0|            1|
|    William|     Shaw|      Water engineer|1971-03-23|ngutierrez@exampl...|    674.916.1038x751|340283.0|            1|
|      Linda|     Hill|Exercise physiolo...|1972-02-23|deckerdavid@examp...|   (931)974-8866x513|630520.0|            1|
|  Christina| Martinez|Historic building...|1976-03-07| emily31@example.org|   277.954.3449x4345|383173.0|            1|
+-----------+---------+--------------------+----------+--------------------+--------------------+--------+-------------+
only showing top 20 rows

In [29]:
emp_temp = spark.sql("""
    select emp.*, date_format(dob, 'yyyy') as year_of_birth
    from emp_view emp
""")

In [32]:
emp_temp.createOrReplaceTempView('emp_temp_view')

In [34]:
spark.sql('select * from emp_temp_view').show()

+----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+-------------+
|first_name| last_name|           job_title|       dob|               email|               phone|  salary|department_id|year_of_birth|
+----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+-------------+
|   Richard|  Morrison|Public relations ...|1973-05-05|melissagarcia@exa...|       (699)525-4827|512653.0|            8|         1973|
|     Bobby|  Mccarthy|   Barrister's clerk|1974-04-25|   llara@example.net|  (750)846-1602x7458|999836.0|            7|         1974|
|    Dennis|    Norman|Land/geomatics su...|1990-06-24| jturner@example.net|    873.820.0518x825|131900.0|           10|         1990|
|      John|    Monroe|        Retail buyer|1968-06-16|  erik33@example.net|    820-813-0557x624|485506.0|            1|         1968|
|  Michelle|   Elliott|      Air cabin crew|1975-03-31|tiffanyjohnston@e...|       (705)900-5337|604738.0|            8|         1975|
|    Ashley|   Montoya|        Cartographer|1976-01-16|patrickalexandra@...|        211.440.5466|483339.0|            6|         1976|
| Nathaniel|     Smith|     Quality manager|1985-06-28|  lori44@example.net|        936-403-3179|419644.0|            7|         1985|
|     Faith|  Cummings|Industrial/produc...|1978-07-01| ygordon@example.org|       (889)246-5588|205939.0|            7|         1978|
|  Margaret|    Sutton|Administrator, ed...|1975-08-16| diana44@example.net|001-647-530-5036x...|671167.0|            8|         1975|
|      Mary|    Sutton|   Freight forwarder|1979-12-28|  ryan36@example.com|   422.562.7254x3159|993829.0|            7|         1979|
|      Jake|      King|       Lexicographer|1994-07-11|monica93@example.org|+1-535-652-9715x6...|702101.0|            4|         1994|
|   Heather|     Haley|         Music tutor|1981-06-01|stephanie65@examp...|   (652)815-7973x298|570960.0|            6|         1981|
|    Thomas|    Thomas|Chartered managem...|2001-07-17|pwilliams@example...|001-245-848-0028x...|339441.0|            6|         2001|
|   Leonard|   Carlson|       Art therapist|1990-10-18|gabrielmurray@exa...|          9247590563|469728.0|            8|         1990|
|      Mark|      Wood|   Market researcher|1963-10-13|nicholas76@exampl...|   311.439.1606x3342|582291.0|            4|         1963|
|    Tracey|Washington|Travel agency man...|1986-05-07|  mark07@example.com|    001-912-206-6456|146456.0|            4|         1986|
|   Rachael| Rodriguez|         Media buyer|1966-12-02|griffinmary@examp...| +1-791-344-7586x548|544732.0|            1|         1966|
|      Tara|       Liu|   Financial adviser|1998-10-12|alexandraobrien@e...|        216.696.6061|399503.0|            3|         1998|
|       Ana|    Joseph|      Retail manager|1995-01-10|  rmorse@example.org|  (726)363-7526x9965|761988.0|           10|         1995|
|   Richard|      Hall|Engineer, civil (...|1967-03-02|brandoncardenas@e...| (964)451-9007x22496|660659.0|            4|         1967|
+----------+----------+--------------------+----------+--------------------+--------------------+--------+-------------+-------------+
only showing top 20 rows

# 8:53 finished