In [60]:
import os

import altair as alt
import plotly.express as px

import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql import Window

In [2]:
os.environ['SPARK_HOME'] = r'C:\spark\spark-3.5.5-bin-hadoop3'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

In [3]:
spark = (
    SparkSession.builder
    .appName('Airport Traffic')
    .master('local[20]')
    .config('spark.executor.memory', '12g')
    .config('spark.executor.cors', '4')
    .config("spark.dynamicAllocation.enabled", "true")
    .config("spark.dynamicAllocation.minExecutors", "2")
    .config("spark.dynamicAllocation.maxExecutors", "20")
    .config('spark.executors.memoryOverhead', '2g')
    .config("spark.driver.memory", "12g")
    .config("spark.driver.maxResultSize", "4g")
    .config('spark.sql.adaptive.enabled', 'true')
    .config('spark.sql.adaptive.coalescePartitions.enabled', 'true')
    .config('spark.sql.adaptive.advisoryPartitionSizeInBytes', '128mb')# 128 default
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer")
    .config('spark.dynamicAllocation.executorIdleTimeout', '120')
    .config('spark.sql.autoBroadcastJoinThreshold', '512mb')
    .getOrCreate()
)

In [4]:
df_path = r"F:\Datasets\CSV datasets\airport_traffic\*"

In [5]:
df = (
    spark
    .read
    .format('csv')
    .option('header', 'true')
    .option('inferSchema', 'true')
    .load(df_path)
)

In [6]:
spark

In [7]:
df.rdd.getNumPartitions()

18

In [8]:
df.count()

983842

In [9]:
df.createOrReplaceTempView('airport_traffic')

In [10]:
spark.sql("""
    SELECT
        count(*)
    FROM
        airport_traffic
""").show()

+--------+
|count(1)|
+--------+
|  983842|
+--------+

In [11]:
df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MONTH_NUM: integer (nullable = true)
 |-- MONTH_MON: string (nullable = true)
 |-- FLT_DATE: string (nullable = true)
 |-- APT_ICAO: string (nullable = true)
 |-- APT_NAME: string (nullable = true)
 |-- STATE_NAME: string (nullable = true)
 |-- FLT_DEP_1: integer (nullable = true)
 |-- FLT_ARR_1: integer (nullable = true)
 |-- FLT_TOT_1: integer (nullable = true)
 |-- FLT_DEP_IFR_2: integer (nullable = true)
 |-- FLT_ARR_IFR_2: integer (nullable = true)
 |-- FLT_TOT_IFR_2: integer (nullable = true)

In [12]:
df.show(5)

+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|  APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|
+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|2016|        1|      JAN|01-01-16|    LATI|    Tirana|   Albania|       24|       27|       51|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    UDYZ|   Yerevan|   Armenia|        8|       15|       23|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWG|      Graz|   Austria|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWI| Innsbruck|   Austria|       26|       32|       58|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWK|Klagenfurt|   Austria|        3|        4|        7|         NULL|         NULL|         NULL|
+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
only showing top 5 rows

In [13]:
window = Window.partitionBy('APT_NAME')

df.withColumn(
    "FLT_TOT_1_SUM",
    F.sum('FLT_TOT_1').over(window)
).show()

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|FLT_TOT_1_SUM|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+-------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|06-01-16|    EBAW| Antwerp|   Belgium|       23|       24|       47|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|07-01-16|    EBAW| Antwerp|   Belgium|       14|       10|       24|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|08-01-16|    EBAW| Antwerp|   Belgium|       27|       23|       50|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|09-01-16|    EBAW| Antwerp|   Belgium|       16|       19|       35|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|10-01-16|    EBAW| Antwerp|   Belgium|       16|       16|       32|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|11-01-16|    EBAW| Antwerp|   Belgium|       24|       21|       45|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|12-01-16|    EBAW| Antwerp|   Belgium|       15|       18|       33|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|13-01-16|    EBAW| Antwerp|   Belgium|       23|       19|       42|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|14-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|15-01-16|    EBAW| Antwerp|   Belgium|       19|       17|       36|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|16-01-16|    EBAW| Antwerp|   Belgium|       15|       11|       26|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|17-01-16|    EBAW| Antwerp|   Belgium|       10|       16|       26|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|18-01-16|    EBAW| Antwerp|   Belgium|       33|       31|       64|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|19-01-16|    EBAW| Antwerp|   Belgium|       28|       27|       55|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|20-01-16|    EBAW| Antwerp|   Belgium|       24|       24|       48|         NULL|         NULL|         NULL|       116053|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+-------------+
only showing top 20 rows

In [14]:
spark.sql("""
    SELECT
        *,
        SUM(FLT_TOT_1) OVER (PARTITION BY APT_NAME) AS FLT_TOT_1_SUM
    FROM
        airport_traffic
""").show()

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|FLT_TOT_1_SUM|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+-------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|06-01-16|    EBAW| Antwerp|   Belgium|       23|       24|       47|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|07-01-16|    EBAW| Antwerp|   Belgium|       14|       10|       24|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|08-01-16|    EBAW| Antwerp|   Belgium|       27|       23|       50|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|09-01-16|    EBAW| Antwerp|   Belgium|       16|       19|       35|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|10-01-16|    EBAW| Antwerp|   Belgium|       16|       16|       32|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|11-01-16|    EBAW| Antwerp|   Belgium|       24|       21|       45|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|12-01-16|    EBAW| Antwerp|   Belgium|       15|       18|       33|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|13-01-16|    EBAW| Antwerp|   Belgium|       23|       19|       42|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|14-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|15-01-16|    EBAW| Antwerp|   Belgium|       19|       17|       36|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|16-01-16|    EBAW| Antwerp|   Belgium|       15|       11|       26|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|17-01-16|    EBAW| Antwerp|   Belgium|       10|       16|       26|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|18-01-16|    EBAW| Antwerp|   Belgium|       33|       31|       64|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|19-01-16|    EBAW| Antwerp|   Belgium|       28|       27|       55|         NULL|         NULL|         NULL|       116053|
|2016|        1|      JAN|20-01-16|    EBAW| Antwerp|   Belgium|       24|       24|       48|         NULL|         NULL|         NULL|       116053|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+-------------+
only showing top 20 rows

In [15]:
spark.sql("""
    SELECT
        *,
        RANK() OVER (
        PARTITION BY YEAR, APT_ICAO
        ORDER BY FLT_DEP_1 DESC
        ) AS RANK
    FROM
        airport_traffic
    ORDER BY
        YEAR, FLT_DEP_1 DESC
""").show()

+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|            APT_NAME| STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|RANK|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
|2016|        7|      JUL|25-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      782|      770|     1552|          782|          771|         1553|   1|
|2016|        7|      JUL|22-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      781|      776|     1557|          781|          756|         1537|   2|
|2016|        7|      JUL|08-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      780|      779|     1559|          780|          768|         1548|   3|
|2016|        7|      JUL|15-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      780|      778|     1558|          778|          768|         1546|   3|
|2016|        8|      AUG|19-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      779|      781|     1560|          778|          760|         1538|   5|
|2016|        8|      AUG|26-08-16|    LFPG|Paris-Charles-de-...|     France|      778|      741|     1519|          776|          748|         1524|   1|
|2016|        9|      SEP|09-09-16|    EHAM|Amsterdam - Schiphol|Netherlands|      778|      768|     1546|          778|          756|         1534|   6|
|2016|        8|      AUG|31-08-16|    LFPG|Paris-Charles-de-...|     France|      776|      771|     1547|          773|          775|         1548|   2|
|2016|        8|      AUG|12-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      774|      774|     1548|          772|          763|         1535|   7|
|2016|        8|      AUG|26-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      774|      774|     1548|          774|          755|         1529|   7|
|2016|        8|      AUG|25-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      772|      772|     1544|          773|          774|         1547|   9|
|2016|        8|      AUG|08-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      770|      763|     1533|          769|          773|         1542|  10|
|2016|        9|      SEP|01-09-16|    EHAM|Amsterdam - Schiphol|Netherlands|      770|      762|     1532|          770|          769|         1539|  10|
|2016|        8|      AUG|30-08-16|    LFPG|Paris-Charles-de-...|     France|      769|      775|     1544|          771|          776|         1547|   3|
|2016|        7|      JUL|14-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      769|      774|     1543|          769|          776|         1545|  12|
|2016|        7|      JUL|18-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      768|      760|     1528|          768|          756|         1524|  13|
|2016|        7|      JUL|21-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      768|      774|     1542|          769|          777|         1546|  13|
|2016|        8|      AUG|22-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      767|      769|     1536|          767|          767|         1534|  15|
|2016|        8|      AUG|25-08-16|    LFPG|Paris-Charles-de-...|     France|      766|      769|     1535|          768|          752|         1520|   4|
|2016|        8|      AUG|18-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      766|      772|     1538|          767|          768|         1535|  16|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
only showing top 20 rows

In [16]:
window = Window.partitionBy('YEAR', 'APT_ICAO').orderBy(F.col('FLT_DEP_1').desc())

df.withColumn(
    'RANK', F.rank().over(window)
).orderBy(
    'YEAR', F.col('FLT_DEP_1').desc()
).show()

+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|            APT_NAME| STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|RANK|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
|2016|        7|      JUL|25-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      782|      770|     1552|          782|          771|         1553|   1|
|2016|        7|      JUL|22-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      781|      776|     1557|          781|          756|         1537|   2|
|2016|        7|      JUL|08-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      780|      779|     1559|          780|          768|         1548|   3|
|2016|        7|      JUL|15-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      780|      778|     1558|          778|          768|         1546|   3|
|2016|        8|      AUG|19-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      779|      781|     1560|          778|          760|         1538|   5|
|2016|        8|      AUG|26-08-16|    LFPG|Paris-Charles-de-...|     France|      778|      741|     1519|          776|          748|         1524|   1|
|2016|        9|      SEP|09-09-16|    EHAM|Amsterdam - Schiphol|Netherlands|      778|      768|     1546|          778|          756|         1534|   6|
|2016|        8|      AUG|31-08-16|    LFPG|Paris-Charles-de-...|     France|      776|      771|     1547|          773|          775|         1548|   2|
|2016|        8|      AUG|12-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      774|      774|     1548|          772|          763|         1535|   7|
|2016|        8|      AUG|26-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      774|      774|     1548|          774|          755|         1529|   7|
|2016|        8|      AUG|25-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      772|      772|     1544|          773|          774|         1547|   9|
|2016|        8|      AUG|08-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      770|      763|     1533|          769|          773|         1542|  10|
|2016|        9|      SEP|01-09-16|    EHAM|Amsterdam - Schiphol|Netherlands|      770|      762|     1532|          770|          769|         1539|  10|
|2016|        8|      AUG|30-08-16|    LFPG|Paris-Charles-de-...|     France|      769|      775|     1544|          771|          776|         1547|   3|
|2016|        7|      JUL|14-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      769|      774|     1543|          769|          776|         1545|  12|
|2016|        7|      JUL|18-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      768|      760|     1528|          768|          756|         1524|  13|
|2016|        7|      JUL|21-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      768|      774|     1542|          769|          777|         1546|  13|
|2016|        8|      AUG|22-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      767|      769|     1536|          767|          767|         1534|  15|
|2016|        8|      AUG|25-08-16|    LFPG|Paris-Charles-de-...|     France|      766|      769|     1535|          768|          752|         1520|   4|
|2016|        8|      AUG|18-08-16|    EHAM|Amsterdam - Schiphol|Netherlands|      766|      772|     1538|          767|          768|         1535|  16|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
only showing top 20 rows

In [17]:
window = Window.partitionBy('YEAR').orderBy(F.col('FLT_DEP_1').desc())

df.withColumn(
    'rank', F.rank().over(window)
).filter(
    F.col('rank') == 1
).drop(
    'rank'
).show()

+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|            APT_NAME| STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+
|2016|        7|      JUL|25-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      782|      770|     1552|          782|          771|         1553|
|2017|        5|      MAY|24-05-17|    EHAM|Amsterdam - Schiphol|Netherlands|      803|      767|     1570|          803|          771|         1574|
|2017|        8|      AUG|07-08-17|    EHAM|Amsterdam - Schiphol|Netherlands|      803|      783|     1586|          801|          794|         1595|
|2018|        8|      AUG|30-08-18|    LFPG|Paris-Charles-de-...|     France|      797|      785|     1582|          796|          790|         1586|
|2019|        6|      JUN|02-06-19|    LEMD|    Madrid - Barajas|      Spain|      847|      753|     1600|          852|          724|         1576|
|2020|        2|      FEB|27-02-20|    EHAM|Amsterdam - Schiphol|Netherlands|      695|      684|     1379|          694|          684|         1378|
|2021|        9|      SEP|05-09-21|    EHAM|Amsterdam - Schiphol|Netherlands|      593|      586|     1179|          592|          586|         1178|
|2021|       10|      OCT|24-10-21|    EHAM|Amsterdam - Schiphol|Netherlands|      593|      598|     1191|          593|          598|         1191|
|2022|        7|      JUL|01-07-22|    LTFM|iGA Istanbul Airport|     Turkey|      697|      692|     1389|          629|          696|         1325|
|2022|        8|      AUG|05-08-22|    LTFM|iGA Istanbul Airport|     Turkey|      697|      683|     1380|          696|          685|         1381|
|2023|        6|      JUN|11-06-23|    LTFM|iGA Istanbul Airport|     Turkey|      915|      772|     1687|          919|          773|         1692|
|2024|        6|      JUN|23-06-24|    LTFM|            Istanbul|     Turkey|      805|      807|     1612|          809|          819|         1628|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+

In [18]:
spark.sql("""
WITH ranked_airports AS (
    SELECT
        *,
        RANK() OVER(
            PARTITION BY YEAR
            ORDER BY FLT_DEP_1 DESC
        ) AS rank
    FROM
        airport_traffic
    )
    SELECT
        *
    FROM
        ranked_airports
    WHERE
        rank = 1
""").show()

+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|            APT_NAME| STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|rank|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+
|2016|        7|      JUL|25-07-16|    EHAM|Amsterdam - Schiphol|Netherlands|      782|      770|     1552|          782|          771|         1553|   1|
|2017|        5|      MAY|24-05-17|    EHAM|Amsterdam - Schiphol|Netherlands|      803|      767|     1570|          803|          771|         1574|   1|
|2017|        8|      AUG|07-08-17|    EHAM|Amsterdam - Schiphol|Netherlands|      803|      783|     1586|          801|          794|         1595|   1|
|2018|        8|      AUG|30-08-18|    LFPG|Paris-Charles-de-...|     France|      797|      785|     1582|          796|          790|         1586|   1|
|2019|        6|      JUN|02-06-19|    LEMD|    Madrid - Barajas|      Spain|      847|      753|     1600|          852|          724|         1576|   1|
|2020|        2|      FEB|27-02-20|    EHAM|Amsterdam - Schiphol|Netherlands|      695|      684|     1379|          694|          684|         1378|   1|
|2021|        9|      SEP|05-09-21|    EHAM|Amsterdam - Schiphol|Netherlands|      593|      586|     1179|          592|          586|         1178|   1|
|2021|       10|      OCT|24-10-21|    EHAM|Amsterdam - Schiphol|Netherlands|      593|      598|     1191|          593|          598|         1191|   1|
|2022|        7|      JUL|01-07-22|    LTFM|iGA Istanbul Airport|     Turkey|      697|      692|     1389|          629|          696|         1325|   1|
|2022|        8|      AUG|05-08-22|    LTFM|iGA Istanbul Airport|     Turkey|      697|      683|     1380|          696|          685|         1381|   1|
|2023|        6|      JUN|11-06-23|    LTFM|iGA Istanbul Airport|     Turkey|      915|      772|     1687|          919|          773|         1692|   1|
|2024|        6|      JUN|23-06-24|    LTFM|            Istanbul|     Turkey|      805|      807|     1612|          809|          819|         1628|   1|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+----+

In [19]:
window = Window.partitionBy('APT_ICAO').orderBy(F.col('FLT_DATE').asc())

df.withColumn(
    'Running Sum',
    F.sum('FLT_TOT_1').over(window)
).show()

+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+-----------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|    APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|Running Sum|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+-----------+
|2016|        1|      JAN|01-01-16|    EDDK|Cologne-Bonn|   Germany|       92|       90|      182|         NULL|         NULL|         NULL|        182|
|2017|        1|      JAN|01-01-17|    EDDK|Cologne-Bonn|   Germany|       95|       97|      192|         NULL|         NULL|         NULL|        374|
|2018|        1|      JAN|01-01-18|    EDDK|Cologne-Bonn|   Germany|      108|      110|      218|          108|          107|          215|        592|
|2019|        1|      JAN|01-01-19|    EDDK|Cologne-Bonn|   Germany|       97|       99|      196|           98|          101|          199|        788|
|2020|        1|      JAN|01-01-20|    EDDK|Cologne-Bonn|   Germany|       90|       89|      179|           89|           91|          180|        967|
|2021|        1|      JAN|01-01-21|    EDDK|Cologne-Bonn|   Germany|       26|       26|       52|           27|           27|           54|       1019|
|2022|        1|      JAN|01-01-22|    EDDK|Cologne-Bonn|   Germany|       60|       54|      114|           62|           55|          117|       1133|
|2023|        1|      JAN|01-01-23|    EDDK|Cologne-Bonn|   Germany|       70|       79|      149|           71|           80|          151|       1282|
|2024|        1|      JAN|01-01-24|    EDDK|Cologne-Bonn|   Germany|       70|       71|      141|           72|           72|          144|       1423|
|2016|        2|      FEB|01-02-16|    EDDK|Cologne-Bonn|   Germany|      166|      160|      326|         NULL|         NULL|         NULL|       1749|
|2017|        2|      FEB|01-02-17|    EDDK|Cologne-Bonn|   Germany|      177|      175|      352|         NULL|         NULL|         NULL|       2101|
|2018|        2|      FEB|01-02-18|    EDDK|Cologne-Bonn|   Germany|      181|      185|      366|          181|          179|          360|       2467|
|2019|        2|      FEB|01-02-19|    EDDK|Cologne-Bonn|   Germany|      201|      201|      402|          202|          199|          401|       2869|
|2020|        2|      FEB|01-02-20|    EDDK|Cologne-Bonn|   Germany|      100|       92|      192|          101|           88|          189|       3061|
|2021|        2|      FEB|01-02-21|    EDDK|Cologne-Bonn|   Germany|       81|       82|      163|           84|           80|          164|       3224|
|2022|        2|      FEB|01-02-22|    EDDK|Cologne-Bonn|   Germany|      132|      137|      269|          129|          134|          263|       3493|
|2023|        2|      FEB|01-02-23|    EDDK|Cologne-Bonn|   Germany|      134|      140|      274|          134|          139|          273|       3767|
|2024|        2|      FEB|01-02-24|    EDDK|Cologne-Bonn|   Germany|       78|       90|      168|           76|           84|          160|       3935|
|2016|        3|      MAR|01-03-16|    EDDK|Cologne-Bonn|   Germany|      178|      186|      364|         NULL|         NULL|         NULL|       4299|
|2017|        3|      MAR|01-03-17|    EDDK|Cologne-Bonn|   Germany|      183|      182|      365|         NULL|         NULL|         NULL|       4664|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+-----------+
only showing top 20 rows

In [20]:
spark.sql("""
    SELECT
        *,
        sum(FLT_TOT_1) OVER (
            PARTITION BY APT_ICAO
            ORDER BY FLT_DATE
        )
    FROM
        airport_traffic
""").show()

+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+-------------------------------------------------------------------------------------------------------------------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|    APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|sum(FLT_TOT_1) OVER (PARTITION BY APT_ICAO ORDER BY FLT_DATE ASC NULLS FIRST RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+-------------------------------------------------------------------------------------------------------------------------------+
|2016|        1|      JAN|01-01-16|    EDDK|Cologne-Bonn|   Germany|       92|       90|      182|         NULL|         NULL|         NULL|                                                                                                                            182|
|2017|        1|      JAN|01-01-17|    EDDK|Cologne-Bonn|   Germany|       95|       97|      192|         NULL|         NULL|         NULL|                                                                                                                            374|
|2018|        1|      JAN|01-01-18|    EDDK|Cologne-Bonn|   Germany|      108|      110|      218|          108|          107|          215|                                                                                                                            592|
|2019|        1|      JAN|01-01-19|    EDDK|Cologne-Bonn|   Germany|       97|       99|      196|           98|          101|          199|                                                                                                                            788|
|2020|        1|      JAN|01-01-20|    EDDK|Cologne-Bonn|   Germany|       90|       89|      179|           89|           91|          180|                                                                                                                            967|
|2021|        1|      JAN|01-01-21|    EDDK|Cologne-Bonn|   Germany|       26|       26|       52|           27|           27|           54|                                                                                                                           1019|
|2022|        1|      JAN|01-01-22|    EDDK|Cologne-Bonn|   Germany|       60|       54|      114|           62|           55|          117|                                                                                                                           1133|
|2023|        1|      JAN|01-01-23|    EDDK|Cologne-Bonn|   Germany|       70|       79|      149|           71|           80|          151|                                                                                                                           1282|
|2024|        1|      JAN|01-01-24|    EDDK|Cologne-Bonn|   Germany|       70|       71|      141|           72|           72|          144|                                                                                                                           1423|
|2016|        2|      FEB|01-02-16|    EDDK|Cologne-Bonn|   Germany|      166|      160|      326|         NULL|         NULL|         NULL|                                                                                                                           1749|
|2017|        2|      FEB|01-02-17|    EDDK|Cologne-Bonn|   Germany|      177|      175|      352|         NULL|         NULL|         NULL|                                                                                                                           2101|
|2018|        2|      FEB|01-02-18|    EDDK|Cologne-Bonn|   Germany|      181|      185|      366|          181|          179|          360|                                                                                                                           2467|
|2019|        2|      FEB|01-02-19|    EDDK|Cologne-Bonn|   Germany|      201|      201|      402|          202|          199|          401|                                                                                                                           2869|
|2020|        2|      FEB|01-02-20|    EDDK|Cologne-Bonn|   Germany|      100|       92|      192|          101|           88|          189|                                                                                                                           3061|
|2021|        2|      FEB|01-02-21|    EDDK|Cologne-Bonn|   Germany|       81|       82|      163|           84|           80|          164|                                                                                                                           3224|
|2022|        2|      FEB|01-02-22|    EDDK|Cologne-Bonn|   Germany|      132|      137|      269|          129|          134|          263|                                                                                                                           3493|
|2023|        2|      FEB|01-02-23|    EDDK|Cologne-Bonn|   Germany|      134|      140|      274|          134|          139|          273|                                                                                                                           3767|
|2024|        2|      FEB|01-02-24|    EDDK|Cologne-Bonn|   Germany|       78|       90|      168|           76|           84|          160|                                                                                                                           3935|
|2016|        3|      MAR|01-03-16|    EDDK|Cologne-Bonn|   Germany|      178|      186|      364|         NULL|         NULL|         NULL|                                                                                                                           4299|
|2017|        3|      MAR|01-03-17|    EDDK|Cologne-Bonn|   Germany|      183|      182|      365|         NULL|         NULL|         NULL|                                                                                                                           4664|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+-------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

# Calculate a 3-day moving average of FLT_TOT_1 for each airport (APT_ICAO), ordered by FLT_DATE. Handle potential gaps in dates gracefully.

In [21]:
window = Window.partitionBy('APT_ICAO').orderBy('FLT_DATE').rowsBetween(-2, 0)

df.withColumn(
    'moving_avg_3day',
    F.avg('FLT_TOT_1').over(window)
).orderBy('APT_ICAO', 'FLT_DATE').show()

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|   moving_avg_3day|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2024|        1|      JAN|01-01-24|    BIKF|Keflavik|   Iceland|       76|       62|      138|         NULL|         NULL|         NULL|             138.0|
|2024|        2|      FEB|01-02-24|    BIKF|Keflavik|   Iceland|       62|       72|      134|         NULL|         NULL|         NULL|             136.0|
|2024|        3|      MAR|01-03-24|    BIKF|Keflavik|   Iceland|       76|       73|      149|         NULL|         NULL|         NULL|140.33333333333334|
|2024|        4|      APR|01-04-24|    BIKF|Keflavik|   Iceland|       87|       80|      167|         NULL|         NULL|         NULL|             150.0|
|2024|        5|      MAY|01-05-24|    BIKF|Keflavik|   Iceland|       79|       85|      164|         NULL|         NULL|         NULL|             160.0|
|2024|        6|      JUN|01-06-24|    BIKF|Keflavik|   Iceland|       98|      100|      198|         NULL|         NULL|         NULL|176.33333333333334|
|2024|        7|      JUL|01-07-24|    BIKF|Keflavik|   Iceland|      118|      118|      236|         NULL|         NULL|         NULL|199.33333333333334|
|2024|        8|      AUG|01-08-24|    BIKF|Keflavik|   Iceland|      117|      115|      232|         NULL|         NULL|         NULL|             222.0|
|2024|        9|      SEP|01-09-24|    BIKF|Keflavik|   Iceland|      115|      120|      235|         NULL|         NULL|         NULL|234.33333333333334|
|2024|       10|      OCT|01-10-24|    BIKF|Keflavik|   Iceland|       93|       92|      185|         NULL|         NULL|         NULL|217.33333333333334|
|2024|       11|      NOV|01-11-24|    BIKF|Keflavik|   Iceland|       83|       83|      166|         NULL|         NULL|         NULL|195.33333333333334|
|2024|       12|      DEC|01-12-24|    BIKF|Keflavik|   Iceland|       76|       77|      153|         NULL|         NULL|         NULL|             168.0|
|2024|        1|      JAN|02-01-24|    BIKF|Keflavik|   Iceland|       86|       86|      172|         NULL|         NULL|         NULL|163.66666666666666|
|2024|        2|      FEB|02-02-24|    BIKF|Keflavik|   Iceland|       47|       53|      100|         NULL|         NULL|         NULL|141.66666666666666|
|2024|        3|      MAR|02-03-24|    BIKF|Keflavik|   Iceland|       73|       76|      149|         NULL|         NULL|         NULL|140.33333333333334|
|2024|        4|      APR|02-04-24|    BIKF|Keflavik|   Iceland|       75|       84|      159|         NULL|         NULL|         NULL|             136.0|
|2024|        5|      MAY|02-05-24|    BIKF|Keflavik|   Iceland|       81|       79|      160|         NULL|         NULL|         NULL|             156.0|
|2024|        6|      JUN|02-06-24|    BIKF|Keflavik|   Iceland|      102|      100|      202|         NULL|         NULL|         NULL|173.66666666666666|
|2024|        7|      JUL|02-07-24|    BIKF|Keflavik|   Iceland|      114|      111|      225|         NULL|         NULL|         NULL|195.66666666666666|
|2024|        8|      AUG|02-08-24|    BIKF|Keflavik|   Iceland|      123|      130|      253|         NULL|         NULL|         NULL|226.66666666666666|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 20 rows

In [22]:
spark.sql("""
    SELECT
        APT_ICAO,
        FLT_DATE,
        FLT_TOT_1,
        avg(FLT_TOT_1) OVER (
            PARTITION BY APT_ICAO
            ORDER BY FLT_DATE
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
        ) AS moving_avg_3day
    FROM
        airport_traffic
    ORDER BY
        APT_ICAO, FLT_DATE
""").show()

+--------+--------+---------+------------------+
|APT_ICAO|FLT_DATE|FLT_TOT_1|   moving_avg_3day|
+--------+--------+---------+------------------+
|    BIKF|01-01-24|      138|             138.0|
|    BIKF|01-02-24|      134|             136.0|
|    BIKF|01-03-24|      149|140.33333333333334|
|    BIKF|01-04-24|      167|             150.0|
|    BIKF|01-05-24|      164|             160.0|
|    BIKF|01-06-24|      198|176.33333333333334|
|    BIKF|01-07-24|      236|199.33333333333334|
|    BIKF|01-08-24|      232|             222.0|
|    BIKF|01-09-24|      235|234.33333333333334|
|    BIKF|01-10-24|      185|217.33333333333334|
|    BIKF|01-11-24|      166|195.33333333333334|
|    BIKF|01-12-24|      153|             168.0|
|    BIKF|02-01-24|      172|163.66666666666666|
|    BIKF|02-02-24|      100|141.66666666666666|
|    BIKF|02-03-24|      149|140.33333333333334|
|    BIKF|02-04-24|      159|             136.0|
|    BIKF|02-05-24|      160|             156.0|
|    BIKF|02-06-24|      202|173.66666666666666|
|    BIKF|02-07-24|      225|195.66666666666666|
|    BIKF|02-08-24|      253|226.66666666666666|
+--------+--------+---------+------------------+
only showing top 20 rows

In [23]:
window = Window.orderBy(F.lit(1))

df.withColumn(
    'row_number',
    F.row_number().over(window)
).show()

+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+----------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|     APT_NAME|          STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|row_number|
+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+----------+
|2016|        1|      JAN|01-01-16|    LATI|       Tirana|             Albania|       24|       27|       51|         NULL|         NULL|         NULL|         1|
|2016|        1|      JAN|01-01-16|    UDYZ|      Yerevan|             Armenia|        8|       15|       23|         NULL|         NULL|         NULL|         2|
|2016|        1|      JAN|01-01-16|    LOWG|         Graz|             Austria|        6|        7|       13|         NULL|         NULL|         NULL|         3|
|2016|        1|      JAN|01-01-16|    LOWI|    Innsbruck|             Austria|       26|       32|       58|         NULL|         NULL|         NULL|         4|
|2016|        1|      JAN|01-01-16|    LOWK|   Klagenfurt|             Austria|        3|        4|        7|         NULL|         NULL|         NULL|         5|
|2016|        1|      JAN|01-01-16|    LOWL|         Linz|             Austria|        3|        5|        8|         NULL|         NULL|         NULL|         6|
|2016|        1|      JAN|01-01-16|    LOWS|     Salzburg|             Austria|       23|       26|       49|         NULL|         NULL|         NULL|         7|
|2016|        1|      JAN|01-01-16|    LOWW|       Vienna|             Austria|      210|      176|      386|          210|          179|          389|         8|
|2016|        1|      JAN|01-01-16|    EBAW|      Antwerp|             Belgium|        4|        3|        7|         NULL|         NULL|         NULL|         9|
|2016|        1|      JAN|01-01-16|    EBBR|     Brussels|             Belgium|      174|      171|      345|          174|          161|          335|        10|
|2016|        1|      JAN|01-01-16|    EBCI|    Charleroi|             Belgium|       45|       47|       92|           45|           45|           90|        11|
|2016|        1|      JAN|01-01-16|    EBLG|        Lige|             Belgium|        6|        7|       13|         NULL|         NULL|         NULL|        12|
|2016|        1|      JAN|01-01-16|    EBOS|Ostend-Bruges|             Belgium|        7|        7|       14|         NULL|         NULL|         NULL|        13|
|2016|        1|      JAN|01-01-16|    LQSA|     Sarajevo|Bosnia and Herzeg...|        5|        6|       11|         NULL|         NULL|         NULL|        14|
|2016|        1|      JAN|01-01-16|    LBSF|        Sofia|            Bulgaria|       26|       26|       52|           26|           24|           50|        15|
|2016|        1|      JAN|01-01-16|    LDZA|       Zagreb|             Croatia|       24|       22|       46|         NULL|         NULL|         NULL|        16|
|2016|        1|      JAN|01-01-16|    LCLK|      Larnaca|              Cyprus|       25|       27|       52|         NULL|         NULL|         NULL|        17|
|2016|        1|      JAN|01-01-16|    LCPH|       Paphos|              Cyprus|        6|        6|       12|         NULL|         NULL|         NULL|        18|
|2016|        1|      JAN|01-01-16|    LKMT|      Ostrava|      Czech Republic|        2|        3|        5|         NULL|         NULL|         NULL|        19|
|2016|        1|      JAN|01-01-16|    LKPR|       Prague|      Czech Republic|      121|      118|      239|          120|          117|          237|        20|
+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+----------+
only showing top 20 rows

In [24]:
window = Window.orderBy(F.lit(1))

df_with_indices = df.withColumn('row_number', F.row_number().over(window))
df_with_indices.filter((F.col('row_number').between(90, 100))).show()

+----+---------+---------+--------+--------+--------------+----------+---------+---------+---------+-------------+-------------+-------------+----------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|      APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|row_number|
+----+---------+---------+--------+--------+--------------+----------+---------+---------+---------+-------------+-------------+-------------+----------+
|2016|        1|      JAN|01-01-16|    EDDR|  Saarbruecken|   Germany|        3|        3|        6|         NULL|         NULL|         NULL|        90|
|2016|        1|      JAN|01-01-16|    EDDS|     Stuttgart|   Germany|       81|       84|      165|         NULL|         NULL|         NULL|        91|
|2016|        1|      JAN|01-01-16|    EDDT|Berlin - Tegel|   Germany|      164|      162|      326|         NULL|         NULL|         NULL|        92|
|2016|        1|      JAN|01-01-16|    EDDV|       Hanover|   Germany|       33|       38|       71|           33|           35|           68|        93|
|2016|        1|      JAN|01-01-16|    EDDW|        Bremen|   Germany|       13|       14|       27|           13|           14|           27|        94|
|2016|        1|      JAN|01-01-16|    LGAV|        Athens|    Greece|      160|      162|      322|          159|          160|          319|        95|
|2016|        1|      JAN|01-01-16|    LGIR|     Heraklion|    Greece|       10|       10|       20|         NULL|         NULL|         NULL|        96|
|2016|        1|      JAN|01-01-16|    LGKF|    Kefallinia|    Greece|        2|        2|        4|         NULL|         NULL|         NULL|        97|
|2016|        1|      JAN|01-01-16|    LGKO|           Kos|    Greece|        2|        2|        4|         NULL|         NULL|         NULL|        98|
|2016|        1|      JAN|01-01-16|    LGKR|         Corfu|    Greece|        4|        3|        7|         NULL|         NULL|         NULL|        99|
|2016|        1|      JAN|01-01-16|    LGMK|       Mikonos|    Greece|        1|        1|        2|         NULL|         NULL|         NULL|       100|
+----+---------+---------+--------+--------+--------------+----------+---------+---------+---------+-------------+-------------+-------------+----------+

In [25]:
spark.sql("""
WITH airport_traffic_rows AS (
    SELECT
        *,
        ROW_NUMBER() OVER (ORDER BY 1) AS row_number
    FROM
        airport_traffic
    )
    SELECT
        *
    FROM
        airport_traffic_rows
    WHERE row_number BETWEEN 490 AND 510
""").show()

+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+----------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|     APT_NAME|          STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|row_number|
+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+----------+
|2016|        1|      JAN|03-01-16|    LATI|       Tirana|             Albania|       27|       28|       55|         NULL|         NULL|         NULL|       490|
|2016|        1|      JAN|03-01-16|    UDYZ|      Yerevan|             Armenia|       27|       27|       54|         NULL|         NULL|         NULL|       491|
|2016|        1|      JAN|03-01-16|    LOWG|         Graz|             Austria|        9|       10|       19|         NULL|         NULL|         NULL|       492|
|2016|        1|      JAN|03-01-16|    LOWI|    Innsbruck|             Austria|       57|       52|      109|         NULL|         NULL|         NULL|       493|
|2016|        1|      JAN|03-01-16|    LOWK|   Klagenfurt|             Austria|       10|        9|       19|         NULL|         NULL|         NULL|       494|
|2016|        1|      JAN|03-01-16|    LOWL|         Linz|             Austria|        7|        6|       13|         NULL|         NULL|         NULL|       495|
|2016|        1|      JAN|03-01-16|    LOWS|     Salzburg|             Austria|       51|       46|       97|         NULL|         NULL|         NULL|       496|
|2016|        1|      JAN|03-01-16|    LOWW|       Vienna|             Austria|      286|      278|      564|          286|          281|          567|       497|
|2016|        1|      JAN|03-01-16|    EBAW|      Antwerp|             Belgium|       10|       17|       27|         NULL|         NULL|         NULL|       498|
|2016|        1|      JAN|03-01-16|    EBBR|     Brussels|             Belgium|      261|      252|      513|          261|          254|          515|       499|
|2016|        1|      JAN|03-01-16|    EBCI|    Charleroi|             Belgium|       62|       60|      122|           62|           60|          122|       500|
|2016|        1|      JAN|03-01-16|    EBLG|        Lige|             Belgium|       23|       21|       44|         NULL|         NULL|         NULL|       501|
|2016|        1|      JAN|03-01-16|    EBOS|Ostend-Bruges|             Belgium|        4|        4|        8|         NULL|         NULL|         NULL|       502|
|2016|        1|      JAN|03-01-16|    LQSA|     Sarajevo|Bosnia and Herzeg...|        9|       12|       21|         NULL|         NULL|         NULL|       503|
|2016|        1|      JAN|03-01-16|    LBSF|        Sofia|            Bulgaria|       70|       68|      138|           69|           68|          137|       504|
|2016|        1|      JAN|03-01-16|    LDZA|       Zagreb|             Croatia|       50|       45|       95|         NULL|         NULL|         NULL|       505|
|2016|        1|      JAN|03-01-16|    LCLK|      Larnaca|              Cyprus|       51|       51|      102|         NULL|         NULL|         NULL|       506|
|2016|        1|      JAN|03-01-16|    LCPH|       Paphos|              Cyprus|       18|       17|       35|         NULL|         NULL|         NULL|       507|
|2016|        1|      JAN|03-01-16|    LKKV| Karlovy Vary|      Czech Republic|        2|        3|        5|         NULL|         NULL|         NULL|       508|
|2016|        1|      JAN|03-01-16|    LKMT|      Ostrava|      Czech Republic|        3|        5|        8|         NULL|         NULL|         NULL|       509|
+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+----------+
only showing top 20 rows

In [26]:
window = Window.partitionBy('APT_NAME').orderBy(F.col('FLT_TOT_1').desc())

df.withColumn(
    'total_flights_rank',
    F.rank().over(window)
).show()

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|total_flights_rank|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        3|      MAR|31-03-16|    EBAW| Antwerp|   Belgium|       48|       52|      100|         NULL|         NULL|         NULL|                 1|
|2016|        4|      APR|04-04-16|    EBAW| Antwerp|   Belgium|       49|       47|       96|         NULL|         NULL|         NULL|                 2|
|2018|        4|      APR|17-04-18|    EBAW| Antwerp|   Belgium|       50|       45|       95|         NULL|         NULL|         NULL|                 3|
|2016|        3|      MAR|24-03-16|    EBAW| Antwerp|   Belgium|       45|       48|       93|         NULL|         NULL|         NULL|                 4|
|2016|        3|      MAR|30-03-16|    EBAW| Antwerp|   Belgium|       49|       44|       93|         NULL|         NULL|         NULL|                 4|
|2016|        3|      MAR|29-03-16|    EBAW| Antwerp|   Belgium|       45|       47|       92|         NULL|         NULL|         NULL|                 6|
|2016|        4|      APR|01-04-16|    EBAW| Antwerp|   Belgium|       47|       45|       92|         NULL|         NULL|         NULL|                 6|
|2016|        5|      MAY|17-05-16|    EBAW| Antwerp|   Belgium|       45|       46|       91|         NULL|         NULL|         NULL|                 8|
|2018|        6|      JUN|29-06-18|    EBAW| Antwerp|   Belgium|       44|       46|       90|         NULL|         NULL|         NULL|                 9|
|2016|        2|      FEB|05-02-16|    EBAW| Antwerp|   Belgium|       42|       42|       84|         NULL|         NULL|         NULL|                10|
|2016|        4|      APR|02-04-16|    EBAW| Antwerp|   Belgium|       42|       39|       81|         NULL|         NULL|         NULL|                11|
|2016|        6|      JUN|09-06-16|    EBAW| Antwerp|   Belgium|       39|       42|       81|         NULL|         NULL|         NULL|                11|
|2017|        5|      MAY|24-05-17|    EBAW| Antwerp|   Belgium|       47|       34|       81|         NULL|         NULL|         NULL|                11|
|2018|        6|      JUN|27-06-18|    EBAW| Antwerp|   Belgium|       41|       40|       81|         NULL|         NULL|         NULL|                11|
|2018|        6|      JUN|05-06-18|    EBAW| Antwerp|   Belgium|       43|       37|       80|         NULL|         NULL|         NULL|                15|
|2018|        3|      MAR|29-03-18|    EBAW| Antwerp|   Belgium|       41|       37|       78|         NULL|         NULL|         NULL|                16|
|2016|        4|      APR|21-04-16|    EBAW| Antwerp|   Belgium|       40|       37|       77|         NULL|         NULL|         NULL|                17|
|2016|        5|      MAY|12-05-16|    EBAW| Antwerp|   Belgium|       40|       37|       77|         NULL|         NULL|         NULL|                17|
|2016|        6|      JUN|10-06-16|    EBAW| Antwerp|   Belgium|       40|       37|       77|         NULL|         NULL|         NULL|                17|
|2018|        8|      AUG|06-08-18|    EBAW| Antwerp|   Belgium|       38|       39|       77|         NULL|         NULL|         NULL|                17|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 20 rows

In [27]:
window = Window.orderBy(F.col('FLT_TOT_1').desc())

df \
.withColumn('total_flights_rank', F.rank().over(window)) \
.withColumn('total_flights_dense_rank', F.dense_rank().over(window)) \
.select('APT_NAME', 'FLT_TOT_1', 'total_flights_rank', 'total_flights_dense_rank') \
.orderBy('total_flights_rank') \
.show(20)

+--------------------+---------+------------------+------------------------+
|            APT_NAME|FLT_TOT_1|total_flights_rank|total_flights_dense_rank|
+--------------------+---------+------------------+------------------------+
|iGA Istanbul Airport|     1687|                 1|                       1|
|iGA Istanbul Airport|     1646|                 2|                       2|
|           Frankfurt|     1628|                 3|                       3|
|Paris-Charles-de-...|     1616|                 4|                       4|
|            Istanbul|     1612|                 5|                       5|
|           Frankfurt|     1610|                 6|                       6|
|Paris-Charles-de-...|     1607|                 7|                       7|
|           Frankfurt|     1602|                 8|                       8|
|    Madrid - Barajas|     1600|                 9|                       9|
|Amsterdam - Schiphol|     1599|                10|                      10|
|Amsterdam - Schiphol|     1597|                11|                      11|
|Amsterdam - Schiphol|     1596|                12|                      12|
|Paris-Charles-de-...|     1596|                12|                      12|
|Amsterdam - Schiphol|     1595|                14|                      13|
|           Frankfurt|     1595|                14|                      13|
|           Frankfurt|     1595|                14|                      13|
|Amsterdam - Schiphol|     1592|                17|                      14|
|Paris-Charles-de-...|     1592|                17|                      14|
|Amsterdam - Schiphol|     1590|                19|                      15|
|Amsterdam - Schiphol|     1590|                19|                      15|
+--------------------+---------+------------------+------------------------+
only showing top 20 rows

In [28]:
spark.sql("""
WITH airport_traffic AS (
    SELECT
        *,
        dense_rank() OVER(
            ORDER BY FLT_TOT_1 DESC
        ) AS total_flights_dense_rank,
        rank() OVER(
            ORDER BY FLT_TOT_1 DESC
        ) AS total_flights_rank
    FROM
        airport_traffic)
    SELECT
        APT_NAME,
        FLT_TOT_1,
        total_flights_rank,
        total_flights_dense_rank
    FROM
        airport_traffic
""").show()

+--------------------+---------+------------------+------------------------+
|            APT_NAME|FLT_TOT_1|total_flights_rank|total_flights_dense_rank|
+--------------------+---------+------------------+------------------------+
|iGA Istanbul Airport|     1687|                 1|                       1|
|iGA Istanbul Airport|     1646|                 2|                       2|
|           Frankfurt|     1628|                 3|                       3|
|Paris-Charles-de-...|     1616|                 4|                       4|
|            Istanbul|     1612|                 5|                       5|
|           Frankfurt|     1610|                 6|                       6|
|Paris-Charles-de-...|     1607|                 7|                       7|
|           Frankfurt|     1602|                 8|                       8|
|    Madrid - Barajas|     1600|                 9|                       9|
|Amsterdam - Schiphol|     1599|                10|                      10|
|Amsterdam - Schiphol|     1597|                11|                      11|
|Amsterdam - Schiphol|     1596|                12|                      12|
|Paris-Charles-de-...|     1596|                12|                      12|
|Amsterdam - Schiphol|     1595|                14|                      13|
|           Frankfurt|     1595|                14|                      13|
|           Frankfurt|     1595|                14|                      13|
|Amsterdam - Schiphol|     1592|                17|                      14|
|Paris-Charles-de-...|     1592|                17|                      14|
|Amsterdam - Schiphol|     1590|                19|                      15|
|Amsterdam - Schiphol|     1590|                19|                      15|
+--------------------+---------+------------------+------------------------+
only showing top 20 rows

In [29]:
window = Window.partitionBy('YEAR').orderBy(F.col('FLT_TOT_1').desc())

df.withColumn(
    'rank_within_year',
    F.rank().over(window)
).withColumn(
    'dense_rank_within_year',
    F.dense_rank().over(window)
).select(
    'YEAR', 'rank_within_year', 'dense_rank_within_year'
).show()

+----+----------------+----------------------+
|YEAR|rank_within_year|dense_rank_within_year|
+----+----------------+----------------------+
|2018|               1|                     1|
|2018|               2|                     2|
|2018|               2|                     2|
|2018|               2|                     2|
|2018|               2|                     2|
|2018|               6|                     3|
|2018|               7|                     4|
|2018|               7|                     4|
|2018|               9|                     5|
|2018|               9|                     5|
|2018|              11|                     6|
|2018|              12|                     7|
|2018|              12|                     7|
|2018|              12|                     7|
|2018|              15|                     8|
|2018|              15|                     8|
|2018|              17|                     9|
|2018|              17|                     9|
|2018|              17|                     9|
|2018|              17|                     9|
+----+----------------+----------------------+
only showing top 20 rows

In [30]:
window = Window.partitionBy('APT_NAME').orderBy('YEAR', 'MONTH_NUM')

(df.withColumn(
    'prev_month_flights',
    F.lag('FLT_TOT_1').over(window)
).select(
    'APT_NAME', 'YEAR', 'MONTH_NUM', 'FLT_TOT_1', 'prev_month_flights'
).orderBy(
    'APT_NAME', 'YEAR', 'MONTH_NUM'
).show())

+--------+----+---------+---------+------------------+
|APT_NAME|YEAR|MONTH_NUM|FLT_TOT_1|prev_month_flights|
+--------+----+---------+---------+------------------+
|    Abad|2016|        1|        4|              NULL|
|    Abad|2016|        1|        2|                 4|
|    Abad|2016|        1|        2|                 2|
|    Abad|2016|        1|        2|                 2|
|    Abad|2016|        1|        1|                 2|
|    Abad|2016|        1|        2|                 1|
|    Abad|2016|        1|        3|                 2|
|    Abad|2016|        1|        8|                 3|
|    Abad|2016|        1|        2|                 8|
|    Abad|2016|        1|        1|                 2|
|    Abad|2016|        1|        1|                 1|
|    Abad|2016|        1|        2|                 1|
|    Abad|2016|        1|        2|                 2|
|    Abad|2016|        1|        1|                 2|
|    Abad|2016|        1|        5|                 1|
|    Abad|2016|        1|        1|                 5|
|    Abad|2016|        2|        4|                 1|
|    Abad|2016|        2|        1|                 4|
|    Abad|2016|        2|        2|                 1|
|    Abad|2016|        2|        4|                 2|
+--------+----+---------+---------+------------------+
only showing top 20 rows

In [31]:
spark.sql("""
WITH airport_traffic AS (
    SELECT
        *,
        LAG(FLT_TOT_1) OVER (
        PARTITION BY APT_NAME
        ORDER BY MONTH_NUM) AS prev_month_flights
    FROM
        airport_traffic
    )
    SELECT
        APT_NAME,
        YEAR,
        MONTH_NUM,
        FLT_TOT_1,
        prev_month_flights
    FROM
        airport_traffic
    ORDER BY
        APT_NAME, YEAR, MONTH_NUM
""").show()

+--------+----+---------+---------+------------------+
|APT_NAME|YEAR|MONTH_NUM|FLT_TOT_1|prev_month_flights|
+--------+----+---------+---------+------------------+
|    Abad|2016|        1|        4|              NULL|
|    Abad|2016|        1|        2|                 4|
|    Abad|2016|        1|        2|                 2|
|    Abad|2016|        1|        2|                 2|
|    Abad|2016|        1|        1|                 2|
|    Abad|2016|        1|        2|                 1|
|    Abad|2016|        1|        3|                 2|
|    Abad|2016|        1|        8|                 3|
|    Abad|2016|        1|        2|                 8|
|    Abad|2016|        1|        1|                 2|
|    Abad|2016|        1|        1|                 1|
|    Abad|2016|        1|        2|                 1|
|    Abad|2016|        1|        2|                 2|
|    Abad|2016|        1|        1|                 2|
|    Abad|2016|        1|        5|                 1|
|    Abad|2016|        1|        1|                 5|
|    Abad|2016|        2|        2|                 3|
|    Abad|2016|        2|        2|                 1|
|    Abad|2016|        2|        1|                 2|
|    Abad|2016|        2|        5|                 2|
+--------+----+---------+---------+------------------+
only showing top 20 rows

In [32]:
window = Window.partitionBy('APT_NAME').orderBy('YEAR', 'MONTH_NUM')

df.withColumn(
    'next_month_flights',
    F.lead('FLT_TOT_1').over(window)
).show(5)

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|next_month_flights|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|                20|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|                27|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|                35|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|                25|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|                47|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 5 rows

In [33]:
spark.sql("""
    SELECT
     *,
     lead(FLT_TOT_1) OVER (
     PARTITION BY APT_NAME
     ORDER BY YEAR, MONTH_NUM
     ) AS next_month_flights
    FROM
        airport_traffic
""").show(5)

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|next_month_flights|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|                20|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|                27|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|                35|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|                25|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|                47|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 5 rows

In [34]:
window = Window.partitionBy('APT_NAME').orderBy('YEAR', 'MONTH_NUM')

df.withColumn(
    'prev_month_flights',
    F.lag('FLT_TOT_1').over(window)
).show(5)

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|prev_month_flights|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|              NULL|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|                 7|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|                20|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|                27|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|                35|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 5 rows

In [35]:
spark.sql("""
    SELECT
        *,
        lag(FLT_TOT_1) OVER(
            PARTITION BY APT_NAME
            ORDER BY YEAR, MONTH_NUM
        ) AS prev_month_flights
    FROM
        airport_traffic
""").show(5)

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|prev_month_flights|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|              NULL|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|                 7|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|                20|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|                27|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|                35|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 5 rows

In [36]:
window = Window.partitionBy('APT_NAME').orderBy('YEAR', 'MONTH_NUM')

df.withColumn(
    'three_months_ago_flights',
    F.lag('FLT_TOT_1', 3).over(window),
).show(5)

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|three_months_ago_flights|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|                    NULL|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|                    NULL|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|                    NULL|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|                       7|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|                      20|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------------+
only showing top 5 rows

In [37]:
spark.sql("""
    SELECT
        *,
        lag(FLT_TOT_1, 3) OVER(
            PARTITION BY APT_NAME
            ORDER BY YEAR, MONTH_NUM
        ) AS three_months_ago_flights
    FROM
        airport_traffic
""").show(5)

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|three_months_ago_flights|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------------+
|2016|        1|      JAN|01-01-16|    EBAW| Antwerp|   Belgium|        4|        3|        7|         NULL|         NULL|         NULL|                    NULL|
|2016|        1|      JAN|02-01-16|    EBAW| Antwerp|   Belgium|        9|       11|       20|         NULL|         NULL|         NULL|                    NULL|
|2016|        1|      JAN|03-01-16|    EBAW| Antwerp|   Belgium|       10|       17|       27|         NULL|         NULL|         NULL|                    NULL|
|2016|        1|      JAN|04-01-16|    EBAW| Antwerp|   Belgium|       18|       17|       35|         NULL|         NULL|         NULL|                       7|
|2016|        1|      JAN|05-01-16|    EBAW| Antwerp|   Belgium|       12|       13|       25|         NULL|         NULL|         NULL|                      20|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------------+
only showing top 5 rows

In [38]:
window = Window.partitionBy('YEAR', 'APT_ICAO').orderBy('MONTH_NUM')

df.withColumn(
    'running_total_flights_year',
    F.sum('FLT_TOT_1').over(window)
).show(5)

+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+--------------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|  APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|running_total_flights_year|
+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+--------------------------+
|2016|        1|      JAN|01-01-16|    EDDL|Dusseldorf|   Germany|      172|      175|      347|         NULL|         NULL|         NULL|                     14406|
|2016|        1|      JAN|02-01-16|    EDDL|Dusseldorf|   Germany|      168|      172|      340|         NULL|         NULL|         NULL|                     14406|
|2016|        1|      JAN|03-01-16|    EDDL|Dusseldorf|   Germany|      208|      206|      414|         NULL|         NULL|         NULL|                     14406|
|2016|        1|      JAN|04-01-16|    EDDL|Dusseldorf|   Germany|      233|      240|      473|         NULL|         NULL|         NULL|                     14406|
|2016|        1|      JAN|05-01-16|    EDDL|Dusseldorf|   Germany|      216|      216|      432|         NULL|         NULL|         NULL|                     14406|
+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+--------------------------+
only showing top 5 rows

In [39]:
spark.sql("""
    SELECT
        *,
        sum(FLT_TOT_1) OVER (
            PARTITION BY YEAR, APT_ICAO
            ORDER BY MONTH_NUM
            ) AS running_total_flights_year
    FROM
        airport_traffic
    WHERE YEAR = 2017
""").show(5)

+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+--------------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|running_total_flights_year|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+--------------------------+
|2017|        1|      JAN|01-01-17|    EBAW| Antwerp|   Belgium|        4|        6|       10|         NULL|         NULL|         NULL|                       940|
|2017|        1|      JAN|02-01-17|    EBAW| Antwerp|   Belgium|       15|       18|       33|         NULL|         NULL|         NULL|                       940|
|2017|        1|      JAN|03-01-17|    EBAW| Antwerp|   Belgium|       11|       18|       29|         NULL|         NULL|         NULL|                       940|
|2017|        1|      JAN|04-01-17|    EBAW| Antwerp|   Belgium|       18|       13|       31|         NULL|         NULL|         NULL|                       940|
|2017|        1|      JAN|05-01-17|    EBAW| Antwerp|   Belgium|       18|       18|       36|         NULL|         NULL|         NULL|                       940|
+----+---------+---------+--------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+--------------------------+
only showing top 5 rows

In [40]:
window = Window.partitionBy('APT_ICAO').orderBy('YEAR', 'MONTH_NUM').rowsBetween(-2, 0)

df.withColumn(
    'rolling_avg_3month',
    F.round(F.avg('FLT_TOT_1').over(window), 2)
).show(8)

+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|    APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|rolling_avg_3month|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        1|      JAN|01-01-16|    EDDK|Cologne-Bonn|   Germany|       92|       90|      182|         NULL|         NULL|         NULL|             182.0|
|2016|        1|      JAN|02-01-16|    EDDK|Cologne-Bonn|   Germany|       95|       99|      194|         NULL|         NULL|         NULL|             188.0|
|2016|        1|      JAN|03-01-16|    EDDK|Cologne-Bonn|   Germany|      126|      130|      256|         NULL|         NULL|         NULL|            210.67|
|2016|        1|      JAN|04-01-16|    EDDK|Cologne-Bonn|   Germany|      160|      154|      314|         NULL|         NULL|         NULL|            254.67|
|2016|        1|      JAN|05-01-16|    EDDK|Cologne-Bonn|   Germany|      161|      169|      330|         NULL|         NULL|         NULL|             300.0|
|2016|        1|      JAN|06-01-16|    EDDK|Cologne-Bonn|   Germany|      164|      157|      321|         NULL|         NULL|         NULL|            321.67|
|2016|        1|      JAN|07-01-16|    EDDK|Cologne-Bonn|   Germany|      166|      174|      340|         NULL|         NULL|         NULL|            330.33|
|2016|        1|      JAN|08-01-16|    EDDK|Cologne-Bonn|   Germany|      172|      174|      346|         NULL|         NULL|         NULL|            335.67|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 8 rows

In [41]:
spark.sql("""
    SELECT
        *,
        ROUND(AVG(FLT_TOT_1) OVER(
            PARTITION BY APT_ICAO
            ORDER BY YEAR, MONTH_NUM
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
        ), 2) AS rolling_avg_3month
    FROM
        airport_traffic
""").show(5)

+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|    APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|rolling_avg_3month|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        1|      JAN|01-01-16|    EDDK|Cologne-Bonn|   Germany|       92|       90|      182|         NULL|         NULL|         NULL|             182.0|
|2016|        1|      JAN|02-01-16|    EDDK|Cologne-Bonn|   Germany|       95|       99|      194|         NULL|         NULL|         NULL|             188.0|
|2016|        1|      JAN|03-01-16|    EDDK|Cologne-Bonn|   Germany|      126|      130|      256|         NULL|         NULL|         NULL|            210.67|
|2016|        1|      JAN|04-01-16|    EDDK|Cologne-Bonn|   Germany|      160|      154|      314|         NULL|         NULL|         NULL|            254.67|
|2016|        1|      JAN|05-01-16|    EDDK|Cologne-Bonn|   Germany|      161|      169|      330|         NULL|         NULL|         NULL|             300.0|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 5 rows

In [42]:
window = Window.partitionBy('APT_ICAO').orderBy('YEAR', 'MONTH_NUM').rowsBetween(-1, 1)

df.withColumn(
    'rolling_avg_3month',
    F.round(F.avg('FLT_TOT_1').over(window), 2)
).show(8)

+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|    APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|rolling_avg_3month|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
|2016|        1|      JAN|01-01-16|    EDDK|Cologne-Bonn|   Germany|       92|       90|      182|         NULL|         NULL|         NULL|             188.0|
|2016|        1|      JAN|02-01-16|    EDDK|Cologne-Bonn|   Germany|       95|       99|      194|         NULL|         NULL|         NULL|            210.67|
|2016|        1|      JAN|03-01-16|    EDDK|Cologne-Bonn|   Germany|      126|      130|      256|         NULL|         NULL|         NULL|            254.67|
|2016|        1|      JAN|04-01-16|    EDDK|Cologne-Bonn|   Germany|      160|      154|      314|         NULL|         NULL|         NULL|             300.0|
|2016|        1|      JAN|05-01-16|    EDDK|Cologne-Bonn|   Germany|      161|      169|      330|         NULL|         NULL|         NULL|            321.67|
|2016|        1|      JAN|06-01-16|    EDDK|Cologne-Bonn|   Germany|      164|      157|      321|         NULL|         NULL|         NULL|            330.33|
|2016|        1|      JAN|07-01-16|    EDDK|Cologne-Bonn|   Germany|      166|      174|      340|         NULL|         NULL|         NULL|            335.67|
|2016|        1|      JAN|08-01-16|    EDDK|Cologne-Bonn|   Germany|      172|      174|      346|         NULL|         NULL|         NULL|             293.0|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+
only showing top 8 rows

In [43]:
spark.sql("""
    SELECT
        *,
        AVG(FLT_TOT_1) OVER(
            PARTITION BY APT_ICAO
            ORDER BY YEAR, MONTH_NUM
            ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING
        ) AS centered_rolling_avg_3month
    FROM
        airport_traffic
""").show(5)

+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+---------------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|    APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|centered_rolling_avg_3month|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+---------------------------+
|2016|        1|      JAN|01-01-16|    EDDK|Cologne-Bonn|   Germany|       92|       90|      182|         NULL|         NULL|         NULL|                      188.0|
|2016|        1|      JAN|02-01-16|    EDDK|Cologne-Bonn|   Germany|       95|       99|      194|         NULL|         NULL|         NULL|         210.66666666666666|
|2016|        1|      JAN|03-01-16|    EDDK|Cologne-Bonn|   Germany|      126|      130|      256|         NULL|         NULL|         NULL|         254.66666666666666|
|2016|        1|      JAN|04-01-16|    EDDK|Cologne-Bonn|   Germany|      160|      154|      314|         NULL|         NULL|         NULL|                      300.0|
|2016|        1|      JAN|05-01-16|    EDDK|Cologne-Bonn|   Germany|      161|      169|      330|         NULL|         NULL|         NULL|          321.6666666666667|
+----+---------+---------+--------+--------+------------+----------+---------+---------+---------+-------------+-------------+-------------+---------------------------+
only showing top 5 rows

In [44]:
window = Window.partitionBy('YEAR').orderBy('FLT_TOT_1')

df.withColumn(
    'percentile_rank_flights',
    F.percent_rank().over(window)
).show(5)

+----+---------+---------+--------+--------+--------------------+----------+---------+---------+---------+-------------+-------------+-------------+-----------------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|            APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|percentile_rank_flights|
+----+---------+---------+--------+--------+--------------------+----------+---------+---------+---------+-------------+-------------+-------------+-----------------------+
|2018|        1|      JAN|01-01-18|    LFLI|           Annemasse|    France|        1|        0|        1|         NULL|         NULL|         NULL|                    0.0|
|2018|        1|      JAN|01-01-18|    LFLP|      Annecy-Meythet|    France|        0|        1|        1|         NULL|         NULL|         NULL|                    0.0|
|2018|        1|      JAN|01-01-18|    LFMH|Saint-Etienne-Bou...|    France|        1|        0|        1|         NULL|         NULL|         NULL|                    0.0|
|2018|        1|      JAN|01-01-18|    LFPN|    Toussus-le-Noble|    France|        0|        1|        1|         NULL|         NULL|         NULL|                    0.0|
|2018|        1|      JAN|01-01-18|    LFRG| Deauville-Normandie|    France|        0|        1|        1|         NULL|         NULL|         NULL|                    0.0|
+----+---------+---------+--------+--------+--------------------+----------+---------+---------+---------+-------------+-------------+-------------+-----------------------+
only showing top 5 rows

In [45]:
window = Window.partitionBy('YEAR').orderBy('FLT_TOT_1')

df.withColumn(
    'flight_quartile',
    F.ntile(4).over(window)
).filter(
    F.col('flight_quartile') == 1
).show()

+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+---------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|            APT_NAME| STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|flight_quartile|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+---------------+
|2018|        1|      JAN|01-01-18|    LFLI|           Annemasse|     France|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    LFLP|      Annecy-Meythet|     France|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    LFMH|Saint-Etienne-Bou...|     France|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    LFPN|    Toussus-le-Noble|     France|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    LFRG| Deauville-Normandie|     France|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    EVLA|             Liepaja|     Latvia|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    EHLE|            Lelystad|Netherlands|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    EPZG|Zielona Gora - Ba...|     Poland|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    LECU|Madrid - Cuatro V...|      Spain|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    LERS|                Reus|      Spain|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|01-01-18|    LESB|           Son Bonet|      Spain|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|02-01-18|    LFBH|La Rochelle-Ile d...|     France|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|02-01-18|    LFMH|Saint-Etienne-Bou...|     France|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|02-01-18|    LFRO|             Lannion|     France|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|02-01-18|    LESJ|Palma - Son San Juan|      Spain|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|03-01-18|    LFMH|Saint-Etienne-Bou...|     France|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|03-01-18|    LFMI|      Istres-Le Tub|     France|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|03-01-18|    EVLA|             Liepaja|     Latvia|        0|        1|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|03-01-18|    EHLE|            Lelystad|Netherlands|        1|        0|        1|         NULL|         NULL|         NULL|              1|
|2018|        1|      JAN|03-01-18|    LESJ|Palma - Son San Juan|      Spain|        1|        0|        1|         NULL|         NULL|         NULL|              1|
+----+---------+---------+--------+--------+--------------------+-----------+---------+---------+---------+-------------+-------------+-------------+---------------+
only showing top 20 rows

In [46]:
df.show()

+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|     APT_NAME|          STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|
+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+
|2016|        1|      JAN|01-01-16|    LATI|       Tirana|             Albania|       24|       27|       51|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    UDYZ|      Yerevan|             Armenia|        8|       15|       23|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWG|         Graz|             Austria|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWI|    Innsbruck|             Austria|       26|       32|       58|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWK|   Klagenfurt|             Austria|        3|        4|        7|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWL|         Linz|             Austria|        3|        5|        8|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWS|     Salzburg|             Austria|       23|       26|       49|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWW|       Vienna|             Austria|      210|      176|      386|          210|          179|          389|
|2016|        1|      JAN|01-01-16|    EBAW|      Antwerp|             Belgium|        4|        3|        7|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    EBBR|     Brussels|             Belgium|      174|      171|      345|          174|          161|          335|
|2016|        1|      JAN|01-01-16|    EBCI|    Charleroi|             Belgium|       45|       47|       92|           45|           45|           90|
|2016|        1|      JAN|01-01-16|    EBLG|        Lige|             Belgium|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    EBOS|Ostend-Bruges|             Belgium|        7|        7|       14|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LQSA|     Sarajevo|Bosnia and Herzeg...|        5|        6|       11|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LBSF|        Sofia|            Bulgaria|       26|       26|       52|           26|           24|           50|
|2016|        1|      JAN|01-01-16|    LDZA|       Zagreb|             Croatia|       24|       22|       46|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LCLK|      Larnaca|              Cyprus|       25|       27|       52|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LCPH|       Paphos|              Cyprus|        6|        6|       12|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LKMT|      Ostrava|      Czech Republic|        2|        3|        5|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LKPR|       Prague|      Czech Republic|      121|      118|      239|          120|          117|          237|
+----+---------+---------+--------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+
only showing top 20 rows

In [47]:
df.show(5)

+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|  APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|
+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|2016|        1|      JAN|01-01-16|    LATI|    Tirana|   Albania|       24|       27|       51|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    UDYZ|   Yerevan|   Armenia|        8|       15|       23|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWG|      Graz|   Austria|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWI| Innsbruck|   Austria|       26|       32|       58|         NULL|         NULL|         NULL|
|2016|        1|      JAN|01-01-16|    LOWK|Klagenfurt|   Austria|        3|        4|        7|         NULL|         NULL|         NULL|
+----+---------+---------+--------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
only showing top 5 rows

In [48]:
df = df.withColumn('FLT_DATE', F.to_date('FLT_DATE', 'dd-MM-yy'))

In [49]:
count_flights = df.groupby(
    'STATE_NAME'
).agg(
    F.sum('FLT_TOT_1').alias('total_flights')
).orderBy(
    F.col('total_flights').desc()
).toPandas()

In [50]:
bar = alt.Chart(count_flights).mark_bar().encode(
    x=alt.X('STATE_NAME:N', sort='-y', title='State'),
    y=alt.Y('total_flights:Q', title='Total flights'),
).properties(
    title='Total flights by state',
    width=900,
    height=700
).interactive()

bar

C:\Users\Zygim\anaconda3\envs\PySpark_3_11\Lib\site-packages\altair\utils\core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

In [51]:
df.show(5)

+----+---------+---------+----------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|  FLT_DATE|APT_ICAO|  APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|
+----+---------+---------+----------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|2016|        1|      JAN|2016-01-01|    LATI|    Tirana|   Albania|       24|       27|       51|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    UDYZ|   Yerevan|   Armenia|        8|       15|       23|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWG|      Graz|   Austria|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWI| Innsbruck|   Austria|       26|       32|       58|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWK|Klagenfurt|   Austria|        3|        4|        7|         NULL|         NULL|         NULL|
+----+---------+---------+----------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
only showing top 5 rows

In [53]:
df.show(5)

+----+---------+---------+----------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|  FLT_DATE|APT_ICAO|  APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|
+----+---------+---------+----------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
|2016|        1|      JAN|2016-01-01|    LATI|    Tirana|   Albania|       24|       27|       51|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    UDYZ|   Yerevan|   Armenia|        8|       15|       23|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWG|      Graz|   Austria|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWI| Innsbruck|   Austria|       26|       32|       58|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWK|Klagenfurt|   Austria|        3|        4|        7|         NULL|         NULL|         NULL|
+----+---------+---------+----------+--------+----------+----------+---------+---------+---------+-------------+-------------+-------------+
only showing top 5 rows

In [54]:
df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MONTH_NUM: integer (nullable = true)
 |-- MONTH_MON: string (nullable = true)
 |-- FLT_DATE: date (nullable = true)
 |-- APT_ICAO: string (nullable = true)
 |-- APT_NAME: string (nullable = true)
 |-- STATE_NAME: string (nullable = true)
 |-- FLT_DEP_1: integer (nullable = true)
 |-- FLT_ARR_1: integer (nullable = true)
 |-- FLT_TOT_1: integer (nullable = true)
 |-- FLT_DEP_IFR_2: integer (nullable = true)
 |-- FLT_ARR_IFR_2: integer (nullable = true)
 |-- FLT_TOT_IFR_2: integer (nullable = true)

In [59]:
year_month_flt_count = df.groupBy(
    'YEAR', 'MONTH_NUM'
).agg(
    F.count('FLT_TOT_1').alias('total_flights')
).orderBy(
    F.col('total_flights').desc()
).toPandas()

In [72]:
spark.sql("""
    SELECT
        YEAR,
        MONTH_NUM,
        COUNT(*) AS total_flights
    FROM
        airport_traffic
    GROUP BY
        YEAR, MONTH_NUM
    ORDER BY
        total_flights DESC
""").show()

+----+---------+-------------+
|YEAR|MONTH_NUM|total_flights|
+----+---------+-------------+
|2024|        7|         9814|
|2024|        8|         9806|
|2021|       10|         9803|
|2022|        5|         9794|
|2024|        5|         9786|
|2024|       10|         9786|
|2023|       10|         9783|
|2023|        7|         9773|
|2021|        8|         9772|
|2019|       10|         9772|
|2023|        8|         9753|
|2022|        7|         9750|
|2023|        5|         9749|
|2018|       10|         9749|
|2019|        5|         9748|
|2022|       10|         9740|
|2021|        7|         9732|
|2019|        7|         9724|
|2023|        3|         9704|
|2018|        5|         9702|
+----+---------+-------------+
only showing top 20 rows

In [64]:
fig = px.bar(
    data_frame=year_month_flt_count,
    x='MONTH_NUM',
    y='total_flights',
    color='YEAR',
    barmode='group',
    title='Total flights by month',
    width=900,
    height=700
)

fig.show()

In [79]:
widnow = Window.partitionBy('YEAR', 'MONTH_NUM').orderBy(F.col('FLT_TOT_1').desc())

df.withColumn(
    'rank',
    F.rank().over(window)
).filter(
    F.col('rank') <= 5
).orderBy(
    'YEAR', 'MONTH_NUM', 'rank'
).show()

+----+---------+---------+----------+--------+--------------------+----------+---------+---------+---------+-------------+-------------+-------------+----+
|YEAR|MONTH_NUM|MONTH_MON|  FLT_DATE|APT_ICAO|            APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|rank|
+----+---------+---------+----------+--------+--------------------+----------+---------+---------+---------+-------------+-------------+-------------+----+
|2016|        1|      JAN|2016-01-01|    LFBA|     Agen-La Garenne|    France|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-01|    LFRD|Dinard-Pleurtuit-...|    France|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-01|    EIWF|           Waterford|   Ireland|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-01|    LJMB|             Maribor|  Slovenia|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-01|    LELL|            Sabadell|     Spain|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-01|    LESB|           Son Bonet|     Spain|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-02|    LFBA|     Agen-La Garenne|    France|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-02|    LFBI|      Poitiers-Biard|    France|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-02|    LFLX|   Chteauroux-Dols|    France|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-02|    LFTW|        Nmes-Garons|    France|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-02|    LJMB|             Maribor|  Slovenia|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-02|    LELL|            Sabadell|     Spain|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    LFAQ|         Albert-Bray|    France|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    LFLX|   Chteauroux-Dols|    France|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    LFMH|Saint-Etienne-Bou...|    France|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    EIWT|              Weston|   Ireland|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    EPZG|Zielona Gora - Ba...|    Poland|        0|        1|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    LJPZ|            Portoro|  Slovenia|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    LEBZ|             Badajoz|     Spain|        1|        0|        1|         NULL|         NULL|         NULL|   1|
|2016|        1|      JAN|2016-01-03|    LELL|            Sabadell|     Spain|        0|        1|        1|         NULL|         NULL|         NULL|   1|
+----+---------+---------+----------+--------+--------------------+----------+---------+---------+---------+-------------+-------------+-------------+----+
only showing top 20 rows

In [88]:
spark.sql("""
WITH airport_traffic AS (
    SELECT
        *,
        RANK() OVER (
            PARTITION BY YEAR, MONTH_NUM
            ORDER BY FLT_TOT_1 DESC
        ) AS rank
    FROM
        airport_traffic
    ) SELECT
        *
        FROM
            airport_traffic
        WHERE
            rank <= 5
        ORDER BY
            YEAR, MONTH_NUM, rank
""").show()

+----+---------+---------+--------+--------+--------------------+--------------+---------+---------+---------+-------------+-------------+-------------+----+
|YEAR|MONTH_NUM|MONTH_MON|FLT_DATE|APT_ICAO|            APT_NAME|    STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|rank|
+----+---------+---------+--------+--------+--------------------+--------------+---------+---------+---------+-------------+-------------+-------------+----+
|2016|        1|      JAN|22-01-16|    EGLL|   London - Heathrow|United Kingdom|      637|      641|     1278|          637|          640|         1277|   1|
|2016|        1|      JAN|29-01-16|    EGLL|   London - Heathrow|United Kingdom|      633|      640|     1273|          633|          637|         1270|   2|
|2016|        1|      JAN|03-01-16|    LFPG|Paris-Charles-de-...|        France|      631|      632|     1263|          630|          629|         1259|   3|
|2016|        1|      JAN|03-01-16|    LTBA|    Istanbul Atatrk|        Turkey|      640|      623|     1263|         NULL|         NULL|         NULL|   3|
|2016|        1|      JAN|28-01-16|    EGLL|   London - Heathrow|United Kingdom|      626|      623|     1249|          626|          623|         1249|   5|
|2016|        2|      FEB|26-02-16|    EGLL|   London - Heathrow|United Kingdom|      663|      662|     1325|          662|          661|         1323|   1|
|2016|        2|      FEB|22-02-16|    EGLL|   London - Heathrow|United Kingdom|      660|      659|     1319|          660|          659|         1319|   2|
|2016|        2|      FEB|21-02-16|    EGLL|   London - Heathrow|United Kingdom|      652|      656|     1308|          652|          657|         1309|   3|
|2016|        2|      FEB|29-02-16|    EGLL|   London - Heathrow|United Kingdom|      658|      648|     1306|          657|          657|         1314|   4|
|2016|        2|      FEB|25-02-16|    EGLL|   London - Heathrow|United Kingdom|      652|      649|     1301|          652|          648|         1300|   5|
|2016|        3|      MAR|28-03-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      676|      677|     1353|          676|          680|         1356|   1|
|2016|        3|      MAR|31-03-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      670|      672|     1342|          667|          675|         1342|   2|
|2016|        3|      MAR|29-03-16|    LFPG|Paris-Charles-de-...|        France|      658|      670|     1328|          657|          667|         1324|   3|
|2016|        3|      MAR|30-03-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      662|      658|     1320|          664|          647|         1311|   4|
|2016|        3|      MAR|04-03-16|    EGLL|   London - Heathrow|United Kingdom|      659|      660|     1319|          658|          659|         1317|   5|
|2016|        4|      APR|29-04-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      738|      736|     1474|          738|          734|         1472|   1|
|2016|        4|      APR|22-04-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      728|      727|     1455|          728|          722|         1450|   2|
|2016|        4|      APR|28-04-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      720|      725|     1445|          720|          725|         1445|   3|
|2016|        4|      APR|25-04-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      723|      718|     1441|          724|          730|         1454|   4|
|2016|        4|      APR|21-04-16|    EHAM|Amsterdam - Schiphol|   Netherlands|      723|      715|     1438|          723|          719|         1442|   5|
+----+---------+---------+--------+--------+--------------------+--------------+---------+---------+---------+-------------+-------------+-------------+----+
only showing top 20 rows

In [105]:
window = Window.partitionBy('APT_NAME').orderBy('YEAR', 'MONTH_NUM')

df_with_lag = df.withColumn(
    'prev_month_flights',
    F.lag('FLT_TOT_1', 1).over(window),
)

df_with_lag = df_with_lag.withColumn(
    'prev_month_flights',
    F.coalesce('prev_month_flights', F.lit(0.0))
)

df_with_growth = df_with_lag.withColumn(
    'mom_growth',
    F.when(F.col('prev_month_flights') != 0,
           ((F.col('FLT_TOT_1') - F.col('prev_month_flights')) / F.col('prev_month_flights')) * 100
           ).otherwise(None)
)

df_with_growth = df_with_growth.withColumn(
    'mom_growth', F.round(F.col('mom_growth'), 2)
)

df_with_growth.orderBy('APT_NAME', 'YEAR', 'MONTH_NUM').show()

+----+---------+---------+----------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+----------+
|YEAR|MONTH_NUM|MONTH_MON|  FLT_DATE|APT_ICAO|APT_NAME|STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|prev_month_flights|mom_growth|
+----+---------+---------+----------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+----------+
|2016|        1|      JAN|2016-01-08|    LEIZ|    Abad|     Spain|        0|        4|        4|         NULL|         NULL|         NULL|               0.0|      NULL|
|2016|        1|      JAN|2016-01-09|    LEIZ|    Abad|     Spain|        1|        1|        2|         NULL|         NULL|         NULL|               4.0|     -50.0|
|2016|        1|      JAN|2016-01-10|    LEIZ|    Abad|     Spain|        2|        0|        2|         NULL|         NULL|         NULL|               2.0|       0.0|
|2016|        1|      JAN|2016-01-12|    LEIZ|    Abad|     Spain|        2|        0|        2|         NULL|         NULL|         NULL|               2.0|       0.0|
|2016|        1|      JAN|2016-01-13|    LEIZ|    Abad|     Spain|        0|        1|        1|         NULL|         NULL|         NULL|               2.0|     -50.0|
|2016|        1|      JAN|2016-01-15|    LEIZ|    Abad|     Spain|        0|        2|        2|         NULL|         NULL|         NULL|               1.0|     100.0|
|2016|        1|      JAN|2016-01-16|    LEIZ|    Abad|     Spain|        1|        2|        3|         NULL|         NULL|         NULL|               2.0|      50.0|
|2016|        1|      JAN|2016-01-17|    LEIZ|    Abad|     Spain|        5|        3|        8|         NULL|         NULL|         NULL|               3.0|    166.67|
|2016|        1|      JAN|2016-01-20|    LEIZ|    Abad|     Spain|        2|        0|        2|         NULL|         NULL|         NULL|               8.0|     -75.0|
|2016|        1|      JAN|2016-01-21|    LEIZ|    Abad|     Spain|        0|        1|        1|         NULL|         NULL|         NULL|               2.0|     -50.0|
|2016|        1|      JAN|2016-01-24|    LEIZ|    Abad|     Spain|        1|        0|        1|         NULL|         NULL|         NULL|               1.0|       0.0|
|2016|        1|      JAN|2016-01-26|    LEIZ|    Abad|     Spain|        1|        1|        2|         NULL|         NULL|         NULL|               1.0|     100.0|
|2016|        1|      JAN|2016-01-27|    LEIZ|    Abad|     Spain|        0|        2|        2|         NULL|         NULL|         NULL|               2.0|       0.0|
|2016|        1|      JAN|2016-01-28|    LEIZ|    Abad|     Spain|        0|        1|        1|         NULL|         NULL|         NULL|               2.0|     -50.0|
|2016|        1|      JAN|2016-01-29|    LEIZ|    Abad|     Spain|        4|        1|        5|         NULL|         NULL|         NULL|               1.0|     400.0|
|2016|        1|      JAN|2016-01-31|    LEIZ|    Abad|     Spain|        0|        1|        1|         NULL|         NULL|         NULL|               5.0|     -80.0|
|2016|        2|      FEB|2016-02-01|    LEIZ|    Abad|     Spain|        2|        2|        4|         NULL|         NULL|         NULL|               1.0|     300.0|
|2016|        2|      FEB|2016-02-03|    LEIZ|    Abad|     Spain|        1|        0|        1|         NULL|         NULL|         NULL|               4.0|     -75.0|
|2016|        2|      FEB|2016-02-04|    LEIZ|    Abad|     Spain|        1|        1|        2|         NULL|         NULL|         NULL|               1.0|     100.0|
|2016|        2|      FEB|2016-02-05|    LEIZ|    Abad|     Spain|        1|        3|        4|         NULL|         NULL|         NULL|               2.0|     100.0|
+----+---------+---------+----------+--------+--------+----------+---------+---------+---------+-------------+-------------+-------------+------------------+----------+
only showing top 20 rows

In [112]:
spark.sql("""
SELECT
    APT_NAME,
    YEAR,
    MONTH_NUM,
    FLT_TOT_1,
    COALESCE(LAG(FLT_TOT_1, 1) OVER (
        PARTITION BY APT_NAME
        ORDER BY YEAR, MONTH_NUM
    ), 0.0) as prev_month_flights,
    ROUND(
        CASE
            WHEN COALESCE(LAG(FLT_TOT_1, 1) OVER (
                    PARTITION BY APT_NAME
                    ORDER BY YEAR, MONTH_NUM
                ), 0.0) != 0
            THEN ((FLT_TOT_1 - LAG(FLT_TOT_1, 1) OVER (
                    PARTITION BY APT_NAME
                    ORDER BY YEAR, MONTH_NUM
                )) / LAG(FLT_TOT_1, 1) OVER (
                    PARTITION BY APT_NAME
                    ORDER BY YEAR, MONTH_NUM
                )) * 100
            ELSE NULL
        END, 2
    ) as mom_growth
FROM airport_traffic
""").show()

+------------+----+---------+---------+------------------+----------+
|    APT_NAME|YEAR|MONTH_NUM|FLT_TOT_1|prev_month_flights|mom_growth|
+------------+----+---------+---------+------------------+----------+
|Angers-Marc|2016|        1|        6|               0.0|      NULL|
|Angers-Marc|2016|        1|        4|               6.0|    -33.33|
|Angers-Marc|2016|        1|        7|               4.0|      75.0|
|Angers-Marc|2016|        1|       11|               7.0|     57.14|
|Angers-Marc|2016|        1|        6|              11.0|    -45.45|
|Angers-Marc|2016|        1|       10|               6.0|     66.67|
|Angers-Marc|2016|        1|        6|              10.0|     -40.0|
|Angers-Marc|2016|        1|        2|               6.0|    -66.67|
|Angers-Marc|2016|        1|        1|               2.0|     -50.0|
|Angers-Marc|2016|        1|        1|               1.0|       0.0|
|Angers-Marc|2016|        1|        7|               1.0|     600.0|
|Angers-Marc|2016|        1|        8|               7.0|     14.29|
|Angers-Marc|2016|        1|       13|               8.0|      62.5|
|Angers-Marc|2016|        1|        3|              13.0|    -76.92|
|Angers-Marc|2016|        1|        1|               3.0|    -66.67|
|Angers-Marc|2016|        1|        2|               1.0|     100.0|
|Angers-Marc|2016|        1|        6|               2.0|     200.0|
|Angers-Marc|2016|        1|        4|               6.0|    -33.33|
|Angers-Marc|2016|        1|        2|               4.0|     -50.0|
|Angers-Marc|2016|        1|        5|               2.0|     150.0|
+------------+----+---------+---------+------------------+----------+
only showing top 20 rows

In [113]:
df.show()

+----+---------+---------+----------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+
|YEAR|MONTH_NUM|MONTH_MON|  FLT_DATE|APT_ICAO|     APT_NAME|          STATE_NAME|FLT_DEP_1|FLT_ARR_1|FLT_TOT_1|FLT_DEP_IFR_2|FLT_ARR_IFR_2|FLT_TOT_IFR_2|
+----+---------+---------+----------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+
|2016|        1|      JAN|2016-01-01|    LATI|       Tirana|             Albania|       24|       27|       51|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    UDYZ|      Yerevan|             Armenia|        8|       15|       23|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWG|         Graz|             Austria|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWI|    Innsbruck|             Austria|       26|       32|       58|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWK|   Klagenfurt|             Austria|        3|        4|        7|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWL|         Linz|             Austria|        3|        5|        8|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWS|     Salzburg|             Austria|       23|       26|       49|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LOWW|       Vienna|             Austria|      210|      176|      386|          210|          179|          389|
|2016|        1|      JAN|2016-01-01|    EBAW|      Antwerp|             Belgium|        4|        3|        7|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    EBBR|     Brussels|             Belgium|      174|      171|      345|          174|          161|          335|
|2016|        1|      JAN|2016-01-01|    EBCI|    Charleroi|             Belgium|       45|       47|       92|           45|           45|           90|
|2016|        1|      JAN|2016-01-01|    EBLG|        Lige|             Belgium|        6|        7|       13|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    EBOS|Ostend-Bruges|             Belgium|        7|        7|       14|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LQSA|     Sarajevo|Bosnia and Herzeg...|        5|        6|       11|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LBSF|        Sofia|            Bulgaria|       26|       26|       52|           26|           24|           50|
|2016|        1|      JAN|2016-01-01|    LDZA|       Zagreb|             Croatia|       24|       22|       46|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LCLK|      Larnaca|              Cyprus|       25|       27|       52|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LCPH|       Paphos|              Cyprus|        6|        6|       12|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LKMT|      Ostrava|      Czech Republic|        2|        3|        5|         NULL|         NULL|         NULL|
|2016|        1|      JAN|2016-01-01|    LKPR|       Prague|      Czech Republic|      121|      118|      239|          120|          117|          237|
+----+---------+---------+----------+--------+-------------+--------------------+---------+---------+---------+-------------+-------------+-------------+
only showing top 20 rows