In [55]:
from pyspark.sql import SparkSession
import seaborn as sns
import matplotlib as plt
import altair as alt
import plotly.express as px

In [56]:
df_path = r"F:\Datasets\CSV datasets\vehicles.csv"

In [57]:
spark = SparkSession.builder.appName('Vehicles-Dataset').getOrCreate()

In [135]:
from pyspark.sql.types import StringType, StructType, IntegerType, FloatType, DoubleType, StructField, LongType, ShortType

# PySpark dtypes conversion cant throw error if conversion is incorrect

In [59]:
df = spark.read.csv(df_path, header=True, inferSchema=True)

In [60]:
df.count()

441802

In [61]:
df.schema

StructType([StructField('id', StringType(), True), StructField('url', StringType(), True), StructField('region', StringType(), True), StructField('region_url', StringType(), True), StructField('price', StringType(), True), StructField('year', StringType(), True), StructField('manufacturer', StringType(), True), StructField('model', StringType(), True), StructField('condition', StringType(), True), StructField('cylinders', StringType(), True), StructField('fuel', StringType(), True), StructField('odometer', StringType(), True), StructField('title_status', StringType(), True), StructField('transmission', StringType(), True), StructField('VIN', StringType(), True), StructField('drive', StringType(), True), StructField('size', StringType(), True), StructField('type', StringType(), True), StructField('paint_color', StringType(), True), StructField('image_url', StringType(), True), StructField('description', StringType(), True), StructField('county', StringType(), True), StructField('state', StringType(), True), StructField('lat', StringType(), True), StructField('long', StringType(), True), StructField('posting_date', StringType(), True)])

In [62]:
print(df.schema)

StructType([StructField('id', StringType(), True), StructField('url', StringType(), True), StructField('region', StringType(), True), StructField('region_url', StringType(), True), StructField('price', StringType(), True), StructField('year', StringType(), True), StructField('manufacturer', StringType(), True), StructField('model', StringType(), True), StructField('condition', StringType(), True), StructField('cylinders', StringType(), True), StructField('fuel', StringType(), True), StructField('odometer', StringType(), True), StructField('title_status', StringType(), True), StructField('transmission', StringType(), True), StructField('VIN', StringType(), True), StructField('drive', StringType(), True), StructField('size', StringType(), True), StructField('type', StringType(), True), StructField('paint_color', StringType(), True), StructField('image_url', StringType(), True), StructField('description', StringType(), True), StructField('county', StringType(), True), StructField('state', StringType(), True), StructField('lat', StringType(), True), StructField('long', StringType(), True), StructField('posting_date', StringType(), True)])

In [63]:
df.show(5)

+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|7222695916|https://prescott....|            prescott|https://prescott....| 6000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   az|NULL|NULL|        NULL|
|7218891961|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ar|NULL|NULL|        NULL|
|7221797935|https://keys.crai...|        florida keys|https://keys.crai...|21000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   fl|NULL|NULL|        NULL|
|7222270760|https://worcester...|worcester / centr...|https://worcester...| 1500|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ma|NULL|NULL|        NULL|
|7210384030|https://greensbor...|          greensboro|https://greensbor...| 4900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   nc|NULL|NULL|        NULL|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
only showing top 5 rows

In [64]:
from pyspark.sql.functions import col, when, sum

In [65]:
df.select([
    sum(when(col(column).isNull(), 1).otherwise(0)).alias(column) for column in df.columns
]).show()

+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+
| id| url|region|region_url|price|year|manufacturer|model|condition|cylinders| fuel|odometer|title_status|transmission|   VIN| drive|  size|  type|paint_color|image_url|description|county|state|  lat| long|posting_date|
+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+
|  0|9884|  6901|      6533| 6446|7890|       28937|17506|   187143|   190798|16344|   17801|       21618|       15932|174486|144178|319997|106892|     143839|    13732|      13733|382283|23077|25397|24715|       22477|
+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+

In [68]:
df.filter(df['id'].isNull()).count()

0

In [98]:
df.filter(
    (col('price') > 6_000) &
    (col('region') != 'bellingham') &
    col('manufacturer').isNotNull()
).orderBy('price', ascending=False).show()

+----------+--------------------+--------------------+--------------------+--------+----+-------------+--------------------+---------+-----------+------+--------+------------+------------+-----------------+-----+---------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|        id|                 url|              region|          region_url|   price|year| manufacturer|               model|condition|  cylinders|  fuel|odometer|title_status|transmission|              VIN|drive|     size|       type|paint_color|           image_url|         description|              county|               state|                 lat|                long|        posting_date|
+----------+--------------------+--------------------+--------------------+--------+----+-------------+--------------------+---------+-----------+------+--------+------------+------------+-----------------+-----+---------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|7315961634|https://dothan.cr...|              dothan|https://dothan.cr...|99999999|1993|         ford|              ranger|     NULL|       NULL|   gas|   99999|       clean|   automatic|             NULL| NULL|     NULL|       NULL|       NULL|https://images.cr...|1993 Ford Ranger,...|                NULL|                  al|           31.053493|          -85.825968|2021-05-02T17:18:...|
|7317067334|https://eauclaire...|          eau claire|https://eauclaire...|  999999|2006|         ford|               f-350|     NULL|8 cylinders|diesel|  204123|       clean|   automatic|             NULL| NULL|     NULL|       NULL|       NULL|https://images.cr...|New HPOP, new tur...|                NULL|                  wi|           45.263513|          -91.792354|2021-05-04T20:57:...|
|7315498841|https://denver.cr...|              denver|https://denver.cr...|   99999|2015|         jeep|wrangler unlimite...|     NULL|8 cylinders|   gas|   15944|       clean|   automatic|1C4BJWFG1FL769739|  4wd|     NULL|        SUV|       NULL|https://images.cr...|Victory Motors of...|                NULL|                  co|           40.182151|         -105.102373|2021-05-01T14:51:...|
|7315844696|https://palmsprin...|        palm springs|https://palmsprin...|   99999|1997|      ferrari|         f355 spider|excellent|8 cylinders|   gas|   22000|       clean|      manual|ZFFXR48A9V0108442| NULL|     NULL|convertible|       NULL|https://images.cr...|1997 Ferrari F355...|                NULL|                  ca|           33.743904|         -116.359028|2021-05-02T11:15:...|
|7306693815|https://fortcolli...|fort collins / no...|https://fortcolli...|   99999|2015|         jeep|  wrangler unlimited|     NULL|8 cylinders|   gas|   15944|       clean|   automatic|1C4BJWFG1FL769739|  4wd|     NULL|        SUV|       NULL|https://images.cr...|Victory Motors of...|                NULL|                  co|           40.182151|         -105.102373|2021-04-14T09:49:...|
|7317034296|https://denver.cr...|scottsbluff / pan...|https://scottsblu...|   99999|2020|         ford|f-150 shelby edition|excellent|8 cylinders|   gas|    9600|       clean|   automatic|1FTEW1E53LFA51587|  4wd|     NULL|     pickup|       blue|https://images.cr...|2020 Ford F-150 S...|                NULL|                  ne|            39.67851|         -104.932222|2021-05-04T18:19:...|
|7314331344|https://palmsprin...|        palm springs|https://palmsprin...|   99999|1997|      ferrari|         f355 spider|excellent|8 cylinders|   gas|   22000|       clean|      manual|ZFFXR48A9V0108442| NULL|     NULL|convertible|       NULL|https://images.cr...|1997 Ferrari F355...|                NULL|                  ca|           33.743904|         -116.359028|2021-04-29T08:33:...|
|7315009609|https://newyork.c...|       new york city|https://newyork.c...|   99999|2020|         ford|               f-150|     NULL|       NULL|   gas|    1404|       clean|   automatic|1FTEW1E52LFB87855|  4wd|     NULL|     pickup|      white|https://images.cr...|2020 Ford F-150 F...|                NULL|                  ny|           40.629452|          -74.128068|2021-04-30T16:40:...|
|7311216665|https://newjersey...|        north jersey|https://newjersey...|   99999|2021|    chevrolet|            corvette|      new|8 cylinders|   gas|       1|       clean|   automatic|             NULL|  rwd|     NULL|       NULL|      black|https://images.cr...|2021 CHEVROLET CO...|                NULL|                  nj|             40.9564|            -74.1569|2021-04-23T00:41:...|
|7316736746|https://austin.cr...|              austin|https://austin.cr...|   99995|2015|mercedes-benz|             s-class|     NULL|       NULL|   gas|   21107|       clean|   automatic|WDDXJ7KBXFA005640| NULL|     NULL|      coupe|       blue|https://images.cr...|Jaguar Land Rover...|                NULL|                  tx|           26.193466|          -98.145378|2021-05-04T10:30:...|
|7316731003|https://mcallen.c...|  mcallen / edinburg|https://mcallen.c...|   99995|2015|mercedes-benz|             s-class|     NULL|       NULL|   gas|   21107|       clean|   automatic|WDDXJ7KBXFA005640| NULL|     NULL|      coupe|       blue|https://images.cr...|Jaguar Land Rover...|                NULL|                  tx|           26.193466|          -98.145378|2021-05-04T10:20:...|
|7316736737|https://dallas.cr...| dallas / fort worth|https://dallas.cr...|   99995|2015|mercedes-benz|             s-class|     NULL|       NULL|   gas|   21107|       clean|   automatic|WDDXJ7KBXFA005640| NULL|     NULL|      coupe|       blue|https://images.cr...|Jaguar Land Rover...|                NULL|                  tx|           26.193466|          -98.145378|2021-05-04T10:30:...|
|7317074911|https://seattle.c...|      seattle-tacoma|https://seattle.c...|   99991|2016|mercedes-benz|    s-class amg s 65|     NULL|       NULL|   gas|   34529|       clean|   automatic|WDDXJ7KB8GA015424| NULL|     NULL|      coupe|       NULL|https://images.cr...|APX Auto BrokersÂ ...|                NULL|                  wa|           47.816633|         -122.318936|2021-05-04T19:24:...|
|7309795516|https://neworlean...|         new orleans|https://neworlean...|   99991|2009|         audi|                  r8|     NULL|8 cylinders|   gas|   23229|       clean|      manual|WUAAU34279N001736|  4wd|     NULL|      coupe|       grey|https://images.cr...|"2009 Audi_ R8_ G...|              appeal| and most importa...| NO ACCIDENTS  LO...| 305/25/20 REAR) ...| look no further!...|
|7309795483|https://oklahomac...|       oklahoma city|https://oklahomac...|   99991|2009|         audi|                  r8|     NULL|8 cylinders|   gas|   23229|       clean|      manual|WUAAU34279N001736|  4wd|     NULL|      coupe|       grey|https://images.cr...|"2009 Audi_ R8_ G...|              appeal| and most importa...| NO ACCIDENTS  LO...| 305/25/20 REAR) ...| look no further!...|
|7316419515|https://honolulu....|              hawaii|https://honolulu....|   99990|2018|       nissan|            gt-r r35| like new|6 cylinders|   gas|    1234|       clean|   automatic|JN1AR5EF7JM710305|  4wd|full-size|      coupe|      white|https://images.cr...|LOCATED @ 1024 MA...|                NULL|                  hi|           21.344826|         -157.897735|2021-05-03T10:46:...|
|7310646565|https://bend.crai...|                bend|https://bend.crai...|    9999|2004|         ford|f-350 super duty ...|     NULL|       NULL|diesel|  202796|       clean|   automatic|1FTSX31P84EA55211| NULL|     NULL|       NULL|       NULL|https://images.cr...|2004 White Ford F...|                NULL|                  or|           44.629638|         -123.055986|2021-04-21T17:32:...|
|7316511778|https://sacrament...|          sacramento|https://sacrament...|    9999|2011|   volkswagen|      jetta wagon se| like new|5 cylinders|   gas|  151151|       clean|   automatic|3VWPZ7AJ9BM611811|  fwd| mid-size|      wagon|      white|https://images.cr...|"HS Top Safety Pi...| CA 95677  *ALL M...|                NULL|                  ca|           38.782359|         -121.241768|
|7310892916|https://eugene.cr...|              eugene|https://eugene.cr...|    9999|2006|         jeep|           commander|     NULL|8 cylinders|   gas|  141255|       clean|   automatic|1J8HG58206C196703| NULL|     NULL|        SUV|      green|https://images.cr...|This 2006 Jeep Co...|                NULL|                  or|            44.05278|         -123.128308|2021-04-22T09:31:...|
|7315557806|https://nashville...|           nashville|https://nashville...|    9999|2011|         mini|cooper s countrym...|excellent|4 cylinders|   gas|   86304|        NULL|   automatic|WMWZC5C56BWL54265|  4wd|     NULL|      wagon|       NULL|https://images.cr...|2011 Mini Cooper ...|                NULL|                  tn|           35.987739|          -86.523884|2021-05-01T18:03:...|
+----------+--------------------+--------------------+--------------------+--------+----+-------------+--------------------+---------+-----------+------+--------+------------+------------+-----------------+-----+---------+-----------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [77]:
df.withColumn(
    'price_above_6000', col('price') > 6_000
).show()

+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+----------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|price_above_6000|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+----------------+
|7222695916|https://prescott....|            prescott|https://prescott....| 6000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   az|NULL|NULL|        NULL|           false|
|7218891961|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ar|NULL|NULL|        NULL|            true|
|7221797935|https://keys.crai...|        florida keys|https://keys.crai...|21000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   fl|NULL|NULL|        NULL|            true|
|7222270760|https://worcester...|worcester / centr...|https://worcester...| 1500|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ma|NULL|NULL|        NULL|           false|
|7210384030|https://greensbor...|          greensboro|https://greensbor...| 4900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   nc|NULL|NULL|        NULL|           false|
|7222379453|https://hudsonval...|       hudson valley|https://hudsonval...| 1600|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ny|NULL|NULL|        NULL|           false|
|7221952215|https://hudsonval...|       hudson valley|https://hudsonval...| 1000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ny|NULL|NULL|        NULL|           false|
|7220195662|https://hudsonval...|       hudson valley|https://hudsonval...|15995|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ny|NULL|NULL|        NULL|            true|
|7209064557|https://medford.c...|     medford-ashland|https://medford.c...| 5000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   or|NULL|NULL|        NULL|           false|
|7219485069|https://erie.crai...|                erie|https://erie.crai...| 3000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   pa|NULL|NULL|        NULL|           false|
|7218893038|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   tx|NULL|NULL|        NULL|           false|
|7218325704|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   tx|NULL|NULL|        NULL|           false|
|7217788283|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   tx|NULL|NULL|        NULL|           false|
|7217147606|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   tx|NULL|NULL|        NULL|           false|
|7209027818|https://elpaso.cr...|             el paso|https://elpaso.cr...|    0|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   tx|NULL|NULL|        NULL|           false|
|7223509794|https://bellingha...|          bellingham|https://bellingha...|13995|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   wa|NULL|NULL|        NULL|            true|
|7222753076|https://bellingha...|          bellingham|https://bellingha...|24999|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   wa|NULL|NULL|        NULL|            true|
|7222206015|https://bellingha...|          bellingham|https://bellingha...|21850|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   wa|NULL|NULL|        NULL|            true|
|7220030122|https://bellingha...|          bellingham|https://bellingha...|26850|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   wa|NULL|NULL|        NULL|            true|
|7218423006|https://bellingha...|          bellingham|https://bellingha...|11999|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   wa|NULL|NULL|        NULL|            true|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+----------------+
only showing top 20 rows

In [85]:
df.groupBy('region').count().orderBy('count', ascending=False)

+--------------------+-----+
|              region|count|
+--------------------+-----+
|                NULL| 6901|
|            columbus| 3608|
|        jacksonville| 3562|
|spokane / coeur d...| 2988|
|              eugene| 2985|
|     fresno / madera| 2983|
|             orlando| 2983|
|omaha / council b...| 2982|
|                bend| 2982|
|       new hampshire| 2981|
|kennewick-pasco-r...| 2981|
|               salem| 2980|
|           nashville| 2980|
|        reno / tahoe| 2979|
|       oklahoma city| 2979|
|              boston| 2978|
|           rochester| 2978|
|  sarasota-bradenton| 2977|
|            stockton| 2977|
|               boise| 2976|
+--------------------+-----+
only showing top 20 rows

In [120]:
print(df.select([
    sum(when(col(column).isNull(), 1).otherwise(0)).alias(column) for column in df.columns
]).show())

+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+
| id| url|region|region_url|price|year|manufacturer|model|condition|cylinders| fuel|odometer|title_status|transmission|   VIN| drive|  size|  type|paint_color|image_url|description|county|state|  lat| long|posting_date|
+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+
|  0|9884|  6901|      6533| 6446|7890|       28937|17506|   187143|   190798|16344|   17801|       21618|       15932|174486|144178|319997|106892|     143839|    13732|      13733|382283|23077|25397|24715|       22477|
+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+

None

In [101]:
df.show(5)

+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|7222695916|https://prescott....|            prescott|https://prescott....| 6000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   az|NULL|NULL|        NULL|
|7218891961|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ar|NULL|NULL|        NULL|
|7221797935|https://keys.crai...|        florida keys|https://keys.crai...|21000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   fl|NULL|NULL|        NULL|
|7222270760|https://worcester...|worcester / centr...|https://worcester...| 1500|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ma|NULL|NULL|        NULL|
|7210384030|https://greensbor...|          greensboro|https://greensbor...| 4900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   nc|NULL|NULL|        NULL|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
only showing top 5 rows

In [104]:
df.groupBy(col('year')).agg({'price': 'sum'}).orderBy('year', ascending=False).show()

+--------------------+-----------+
|                year| sum(price)|
+--------------------+-----------+
|                  wa|       NULL|
|                  dc|       NULL|
|           47.656773|       NULL|
|           45.382346|       NULL|
|           40.624962|       NULL|
|             34.1847|       NULL|
|                2022|  3639818.0|
|2021-05-04T20:41:...| -73.829146|
|2021-05-04T20:33:...|-122.605132|
|2021-05-04T20:31:...|-122.605132|
|2021-05-04T20:29:...|-122.605132|
|2021-05-04T20:21:...| -74.042702|
|2021-05-04T19:56:...| -73.829146|
|2021-05-04T18:56:...| -73.829146|
|2021-05-04T18:56:...| -74.042702|
|2021-05-04T18:46:...| -73.829146|
|2021-05-04T18:31:...|  -97.13379|
|2021-05-04T18:06:...| -122.57822|
|2021-05-04T18:01:...| -106.38551|
|2021-05-04T17:46:...| -73.829146|
+--------------------+-----------+
only showing top 20 rows

In [118]:
from pyspark.sql.functions import year

In [119]:
df.select(year('year')).collect()

[Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=None),
 Row(year(year)=2014),
 Row(year(year)=2010),
 Row(year(year)=2020),
 Row(year(year)=2017),
 Row(year(year)=2013),
 Row(year(year)=2012),
 Row(year(year)=2016),
 Row(year(year)=2019),
 Row(year(year)=2016),
 Row(year(year)=2011),
 Row(year(year)=1992),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2014),
 Row(year(year)=2016),
 Row(year(year)=2014),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2011),
 Row(year(year)=2018),
 Row(year(year)=2016),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2017),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2004),
 Row(year(year)=2016),
 Row(year(year)=2016),
 Row(year(year)=2015),
 Row(year(year)=2012),
 Row(year(year)=2018),
 Row(year(year)=2013),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2001),
 Row(year(year)=2019),
 Row(year(year)=2013),
 Row(year(year)=2014),
 Row(year(year)=2016),
 Row(year(year)=2012),
 Row(year(year)=2014),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2020),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2013),
 Row(year(year)=2020),
 Row(year(year)=2012),
 Row(year(year)=2019),
 Row(year(year)=2015),
 Row(year(year)=2018),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2004),
 Row(year(year)=2016),
 Row(year(year)=2019),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2015),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2006),
 Row(year(year)=2004),
 Row(year(year)=2016),
 Row(year(year)=2013),
 Row(year(year)=2018),
 Row(year(year)=2015),
 Row(year(year)=1968),
 Row(year(year)=2017),
 Row(year(year)=2019),
 Row(year(year)=2013),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2019),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2003),
 Row(year(year)=2018),
 Row(year(year)=2013),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2015),
 Row(year(year)=2016),
 Row(year(year)=2020),
 Row(year(year)=2018),
 Row(year(year)=2008),
 Row(year(year)=2007),
 Row(year(year)=2018),
 Row(year(year)=2005),
 Row(year(year)=2019),
 Row(year(year)=2019),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2020),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2018),
 Row(year(year)=2018),
 Row(year(year)=2016),
 Row(year(year)=2020),
 Row(year(year)=1966),
 Row(year(year)=2006),
 Row(year(year)=2019),
 Row(year(year)=2012),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2012),
 Row(year(year)=2018),
 Row(year(year)=2020),
 Row(year(year)=2013),
 Row(year(year)=2018),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2018),
 Row(year(year)=2013),
 Row(year(year)=2015),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2015),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2018),
 Row(year(year)=2018),
 Row(year(year)=2020),
 Row(year(year)=2012),
 Row(year(year)=2011),
 Row(year(year)=2001),
 Row(year(year)=2005),
 Row(year(year)=2010),
 Row(year(year)=2011),
 Row(year(year)=2008),
 Row(year(year)=2007),
 Row(year(year)=2014),
 Row(year(year)=2011),
 Row(year(year)=2007),
 Row(year(year)=2011),
 Row(year(year)=2009),
 Row(year(year)=2008),
 Row(year(year)=2009),
 Row(year(year)=2006),
 Row(year(year)=1998),
 Row(year(year)=2002),
 Row(year(year)=2008),
 Row(year(year)=2020),
 Row(year(year)=2017),
 Row(year(year)=2007),
 Row(year(year)=2015),
 Row(year(year)=2008),
 Row(year(year)=1998),
 Row(year(year)=None),
 Row(year(year)=2012),
 Row(year(year)=2005),
 Row(year(year)=1999),
 Row(year(year)=2002),
 Row(year(year)=2008),
 Row(year(year)=2018),
 Row(year(year)=2018),
 Row(year(year)=2021),
 Row(year(year)=2015),
 Row(year(year)=2019),
 Row(year(year)=2016),
 Row(year(year)=2009),
 Row(year(year)=1997),
 Row(year(year)=1976),
 Row(year(year)=2003),
 Row(year(year)=1969),
 Row(year(year)=2016),
 Row(year(year)=2013),
 Row(year(year)=2008),
 Row(year(year)=2006),
 Row(year(year)=2002),
 Row(year(year)=2009),
 Row(year(year)=2004),
 Row(year(year)=2009),
 Row(year(year)=1995),
 Row(year(year)=2006),
 Row(year(year)=2014),
 Row(year(year)=2008),
 Row(year(year)=2017),
 Row(year(year)=2008),
 Row(year(year)=2011),
 Row(year(year)=2015),
 Row(year(year)=2014),
 Row(year(year)=1978),
 Row(year(year)=2005),
 Row(year(year)=2012),
 Row(year(year)=2018),
 Row(year(year)=2011),
 Row(year(year)=1999),
 Row(year(year)=1954),
 Row(year(year)=2017),
 Row(year(year)=2011),
 Row(year(year)=1979),
 Row(year(year)=2003),
 Row(year(year)=2019),
 Row(year(year)=1970),
 Row(year(year)=2009),
 Row(year(year)=2014),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=1974),
 Row(year(year)=1996),
 Row(year(year)=2020),
 Row(year(year)=2018),
 Row(year(year)=2018),
 Row(year(year)=2020),
 Row(year(year)=2016),
 Row(year(year)=2010),
 Row(year(year)=2017),
 Row(year(year)=2007),
 Row(year(year)=2021),
 Row(year(year)=2015),
 Row(year(year)=2008),
 Row(year(year)=2015),
 Row(year(year)=2004),
 Row(year(year)=2017),
 Row(year(year)=2004),
 Row(year(year)=2015),
 Row(year(year)=2011),
 Row(year(year)=1987),
 Row(year(year)=2006),
 Row(year(year)=2013),
 Row(year(year)=2005),
 Row(year(year)=2008),
 Row(year(year)=2005),
 Row(year(year)=2000),
 Row(year(year)=1955),
 Row(year(year)=2005),
 Row(year(year)=1996),
 Row(year(year)=2006),
 Row(year(year)=2018),
 Row(year(year)=2011),
 Row(year(year)=2017),
 Row(year(year)=2008),
 Row(year(year)=2013),
 Row(year(year)=1960),
 Row(year(year)=2000),
 Row(year(year)=2007),
 Row(year(year)=2015),
 Row(year(year)=2014),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2010),
 Row(year(year)=2014),
 Row(year(year)=2013),
 Row(year(year)=2016),
 Row(year(year)=2019),
 Row(year(year)=2010),
 Row(year(year)=2008),
 Row(year(year)=2013),
 Row(year(year)=2014),
 Row(year(year)=2011),
 Row(year(year)=2019),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2011),
 Row(year(year)=2015),
 Row(year(year)=2014),
 Row(year(year)=2018),
 Row(year(year)=1991),
 Row(year(year)=1999),
 Row(year(year)=2006),
 Row(year(year)=2003),
 Row(year(year)=2005),
 Row(year(year)=2017),
 Row(year(year)=2011),
 Row(year(year)=2009),
 Row(year(year)=2011),
 Row(year(year)=2001),
 Row(year(year)=2010),
 Row(year(year)=2006),
 Row(year(year)=2010),
 Row(year(year)=2014),
 Row(year(year)=2020),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2019),
 Row(year(year)=2006),
 Row(year(year)=2010),
 Row(year(year)=2015),
 Row(year(year)=2013),
 Row(year(year)=2008),
 Row(year(year)=1997),
 Row(year(year)=2007),
 Row(year(year)=2009),
 Row(year(year)=2012),
 Row(year(year)=2013),
 Row(year(year)=2012),
 Row(year(year)=1998),
 Row(year(year)=2011),
 Row(year(year)=1972),
 Row(year(year)=2019),
 Row(year(year)=2009),
 Row(year(year)=2012),
 Row(year(year)=2005),
 Row(year(year)=2005),
 Row(year(year)=2016),
 Row(year(year)=2021),
 Row(year(year)=2001),
 Row(year(year)=2017),
 Row(year(year)=2012),
 Row(year(year)=2007),
 Row(year(year)=None),
 Row(year(year)=2011),
 Row(year(year)=2001),
 Row(year(year)=2006),
 Row(year(year)=2011),
 Row(year(year)=2008),
 Row(year(year)=2003),
 Row(year(year)=2013),
 Row(year(year)=2012),
 Row(year(year)=2006),
 Row(year(year)=2012),
 Row(year(year)=2010),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2007),
 Row(year(year)=2021),
 Row(year(year)=2017),
 Row(year(year)=2019),
 Row(year(year)=2010),
 Row(year(year)=2017),
 Row(year(year)=2007),
 Row(year(year)=2017),
 Row(year(year)=2006),
 Row(year(year)=2013),
 Row(year(year)=2016),
 Row(year(year)=2018),
 Row(year(year)=2019),
 Row(year(year)=2016),
 Row(year(year)=2013),
 Row(year(year)=2002),
 Row(year(year)=2007),
 Row(year(year)=2013),
 Row(year(year)=2018),
 Row(year(year)=2008),
 Row(year(year)=2012),
 Row(year(year)=1988),
 Row(year(year)=2021),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2009),
 Row(year(year)=2016),
 Row(year(year)=2018),
 Row(year(year)=2012),
 Row(year(year)=2013),
 Row(year(year)=2016),
 Row(year(year)=2017),
 Row(year(year)=2014),
 Row(year(year)=1994),
 Row(year(year)=2016),
 Row(year(year)=2016),
 Row(year(year)=2005),
 Row(year(year)=1999),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2013),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2019),
 Row(year(year)=2016),
 Row(year(year)=2005),
 Row(year(year)=2005),
 Row(year(year)=2016),
 Row(year(year)=2017),
 Row(year(year)=2015),
 Row(year(year)=2008),
 Row(year(year)=2014),
 Row(year(year)=2014),
 Row(year(year)=2006),
 Row(year(year)=2006),
 Row(year(year)=2010),
 Row(year(year)=2007),
 Row(year(year)=2006),
 Row(year(year)=2017),
 Row(year(year)=2010),
 Row(year(year)=2009),
 Row(year(year)=2004),
 Row(year(year)=2018),
 Row(year(year)=2020),
 Row(year(year)=1999),
 Row(year(year)=2015),
 Row(year(year)=2021),
 Row(year(year)=2011),
 Row(year(year)=2013),
 Row(year(year)=2015),
 Row(year(year)=2014),
 Row(year(year)=2005),
 Row(year(year)=1988),
 Row(year(year)=1988),
 Row(year(year)=2018),
 Row(year(year)=2014),
 Row(year(year)=2019),
 Row(year(year)=2020),
 Row(year(year)=2020),
 Row(year(year)=2021),
 Row(year(year)=2008),
 Row(year(year)=2015),
 Row(year(year)=2015),
 Row(year(year)=2021),
 Row(year(year)=2010),
 Row(year(year)=2019),
 Row(year(year)=1999),
 Row(year(year)=2017),
 Row(year(year)=1968),
 Row(year(year)=1969),
 Row(year(year)=1929),
 Row(year(year)=2003),
 Row(year(year)=2011),
 Row(year(year)=2002),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2021),
 Row(year(year)=1998),
 Row(year(year)=1999),
 Row(year(year)=2004),
 Row(year(year)=2007),
 Row(year(year)=2012),
 Row(year(year)=1969),
 Row(year(year)=2019),
 Row(year(year)=2012),
 Row(year(year)=2018),
 Row(year(year)=2016),
 Row(year(year)=2007),
 Row(year(year)=2006),
 Row(year(year)=2017),
 Row(year(year)=2006),
 Row(year(year)=2000),
 Row(year(year)=2011),
 Row(year(year)=2015),
 Row(year(year)=2014),
 Row(year(year)=2009),
 Row(year(year)=2017),
 Row(year(year)=2014),
 Row(year(year)=2015),
 Row(year(year)=2008),
 Row(year(year)=2011),
 Row(year(year)=2009),
 Row(year(year)=2011),
 Row(year(year)=2014),
 Row(year(year)=2015),
 Row(year(year)=2018),
 Row(year(year)=2015),
 Row(year(year)=2021),
 Row(year(year)=2014),
 Row(year(year)=2015),
 Row(year(year)=2000),
 Row(year(year)=2013),
 Row(year(year)=2020),
 Row(year(year)=2018),
 Row(year(year)=2021),
 Row(year(year)=2011),
 Row(year(year)=2008),
 Row(year(year)=2012),
 Row(year(year)=2017),
 Row(year(year)=2015),
 Row(year(year)=2019),
 Row(year(year)=2015),
 Row(year(year)=2012),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2008),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2017),
 Row(year(year)=2012),
 Row(year(year)=2012),
 Row(year(year)=2012),
 Row(year(year)=2015),
 Row(year(year)=2012),
 Row(year(year)=2005),
 Row(year(year)=2012),
 Row(year(year)=2012),
 Row(year(year)=2013),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2015),
 Row(year(year)=2001),
 Row(year(year)=2011),
 Row(year(year)=2015),
 Row(year(year)=1995),
 Row(year(year)=2013),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2007),
 Row(year(year)=2018),
 Row(year(year)=2014),
 Row(year(year)=2006),
 Row(year(year)=2012),
 Row(year(year)=2001),
 Row(year(year)=2010),
 Row(year(year)=2009),
 Row(year(year)=2008),
 Row(year(year)=2010),
 Row(year(year)=2014),
 Row(year(year)=2008),
 Row(year(year)=2017),
 Row(year(year)=2003),
 Row(year(year)=1996),
 Row(year(year)=2016),
 Row(year(year)=2012),
 Row(year(year)=2018),
 Row(year(year)=2010),
 Row(year(year)=2018),
 Row(year(year)=2012),
 Row(year(year)=2016),
 Row(year(year)=2007),
 Row(year(year)=2019),
 Row(year(year)=2012),
 Row(year(year)=2008),
 Row(year(year)=2015),
 Row(year(year)=2012),
 Row(year(year)=2014),
 Row(year(year)=2006),
 Row(year(year)=2004),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2013),
 Row(year(year)=2008),
 Row(year(year)=2017),
 Row(year(year)=2015),
 Row(year(year)=2015),
 Row(year(year)=2019),
 Row(year(year)=2014),
 Row(year(year)=2015),
 Row(year(year)=2000),
 Row(year(year)=2008),
 Row(year(year)=2020),
 Row(year(year)=None),
 Row(year(year)=2021),
 Row(year(year)=2008),
 Row(year(year)=2016),
 Row(year(year)=2020),
 Row(year(year)=2016),
 Row(year(year)=2014),
 Row(year(year)=2014),
 Row(year(year)=2019),
 Row(year(year)=2002),
 Row(year(year)=2002),
 Row(year(year)=2003),
 Row(year(year)=2012),
 Row(year(year)=2002),
 Row(year(year)=2015),
 Row(year(year)=2013),
 Row(year(year)=2015),
 Row(year(year)=2011),
 Row(year(year)=2019),
 Row(year(year)=2019),
 Row(year(year)=2013),
 Row(year(year)=2004),
 Row(year(year)=2008),
 Row(year(year)=2006),
 Row(year(year)=1997),
 Row(year(year)=1997),
 Row(year(year)=2008),
 Row(year(year)=2005),
 Row(year(year)=2020),
 Row(year(year)=2010),
 Row(year(year)=2013),
 Row(year(year)=2016),
 Row(year(year)=1999),
 Row(year(year)=2001),
 Row(year(year)=2016),
 Row(year(year)=2017),
 Row(year(year)=2008),
 Row(year(year)=2014),
 Row(year(year)=2018),
 Row(year(year)=2011),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2007),
 Row(year(year)=2012),
 Row(year(year)=2019),
 Row(year(year)=2014),
 Row(year(year)=2003),
 Row(year(year)=2014),
 Row(year(year)=2010),
 Row(year(year)=2019),
 Row(year(year)=2002),
 Row(year(year)=2008),
 Row(year(year)=2013),
 Row(year(year)=2017),
 Row(year(year)=2021),
 Row(year(year)=2016),
 Row(year(year)=2012),
 Row(year(year)=2018),
 Row(year(year)=2017),
 Row(year(year)=2018),
 Row(year(year)=2019),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2018),
 Row(year(year)=2011),
 Row(year(year)=2017),
 Row(year(year)=1979),
 Row(year(year)=2002),
 Row(year(year)=1996),
 Row(year(year)=2011),
 Row(year(year)=2008),
 Row(year(year)=2010),
 Row(year(year)=2013),
 Row(year(year)=2011),
 Row(year(year)=2013),
 Row(year(year)=2005),
 Row(year(year)=2006),
 Row(year(year)=2008),
 Row(year(year)=2008),
 Row(year(year)=2012),
 Row(year(year)=2007),
 Row(year(year)=2005),
 Row(year(year)=2008),
 Row(year(year)=2008),
 Row(year(year)=2005),
 Row(year(year)=2017),
 Row(year(year)=2014),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2014),
 Row(year(year)=2009),
 Row(year(year)=2007),
 Row(year(year)=2016),
 Row(year(year)=1984),
 Row(year(year)=2013),
 Row(year(year)=2019),
 Row(year(year)=2019),
 Row(year(year)=2017),
 Row(year(year)=2019),
 Row(year(year)=2017),
 Row(year(year)=None),
 Row(year(year)=2009),
 Row(year(year)=2006),
 Row(year(year)=2013),
 Row(year(year)=2011),
 Row(year(year)=2005),
 Row(year(year)=2010),
 Row(year(year)=2009),
 Row(year(year)=1997),
 Row(year(year)=2010),
 Row(year(year)=2006),
 Row(year(year)=2009),
 Row(year(year)=2006),
 Row(year(year)=2018),
 Row(year(year)=2013),
 Row(year(year)=2006),
 Row(year(year)=2013),
 Row(year(year)=2001),
 Row(year(year)=2011),
 Row(year(year)=2020),
 Row(year(year)=2007),
 Row(year(year)=2012),
 Row(year(year)=2006),
 Row(year(year)=2014),
 Row(year(year)=2016),
 Row(year(year)=2013),
 Row(year(year)=2011),
 Row(year(year)=2006),
 Row(year(year)=2005),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=None),
 Row(year(year)=2016),
 Row(year(year)=2017),
 Row(year(year)=2008),
 Row(year(year)=2003),
 Row(year(year)=1999),
 Row(year(year)=2015),
 Row(year(year)=2015),
 Row(year(year)=2019),
 Row(year(year)=2014),
 Row(year(year)=2006),
 Row(year(year)=2003),
 Row(year(year)=2014),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2014),
 Row(year(year)=2011),
 Row(year(year)=2011),
 Row(year(year)=2021),
 Row(year(year)=1991),
 Row(year(year)=2018),
 Row(year(year)=None),
 Row(year(year)=1984),
 Row(year(year)=2001),
 Row(year(year)=2020),
 Row(year(year)=2019),
 Row(year(year)=2013),
 Row(year(year)=2019),
 Row(year(year)=2019),
 Row(year(year)=2019),
 Row(year(year)=2014),
 Row(year(year)=2014),
 Row(year(year)=2017),
 Row(year(year)=2017),
 Row(year(year)=2001),
 Row(year(year)=1987),
 Row(year(year)=2020),
 Row(year(year)=2016),
 Row(year(year)=2003),
 Row(year(year)=2012),
 Row(year(year)=2000),
 Row(year(year)=2006),
 Row(year(year)=2006),
 Row(year(year)=2005),
 Row(year(year)=2010),
 Row(year(year)=2008),
 Row(year(year)=2008),
 Row(year(year)=2011),
 Row(year(year)=2011),
 Row(year(year)=2013),
 Row(year(year)=2015),
 Row(year(year)=2013),
 Row(year(year)=2016),
 Row(year(year)=2004),
 Row(year(year)=2015),
 Row(year(year)=2007),
 Row(year(year)=2016),
 Row(year(year)=2012),
 Row(year(year)=2007),
 Row(year(year)=2006),
 Row(year(year)=2017),
 Row(year(year)=2013),
 Row(year(year)=2007),
 Row(year(year)=2012),
 Row(year(year)=2012),
 Row(year(year)=2014),
 Row(year(year)=2007),
 Row(year(year)=2018),
 Row(year(year)=2013),
 Row(year(year)=2010),
 Row(year(year)=2008),
 Row(year(year)=2015),
 Row(year(year)=2016),
 Row(year(year)=2007),
 Row(year(year)=2016),
 Row(year(year)=2005),
 Row(year(year)=2006),
 Row(year(year)=2016),
 Row(year(year)=2008),
 Row(year(year)=2016),
 Row(year(year)=2014),
 Row(year(year)=2010),
 Row(year(year)=2017),
 Row(year(year)=2009),
 Row(year(year)=2007),
 Row(year(year)=2006),
 Row(year(year)=2004),
 Row(year(year)=2011),
 Row(year(year)=2012),
 Row(year(year)=2008),
 Row(year(year)=2007),
 Row(year(year)=2005),
 Row(year(year)=2015),
 Row(year(year)=2015),
 Row(year(year)=1998),
 Row(year(year)=2008),
 Row(year(year)=2015),
 Row(year(year)=2017),
 Row(year(year)=2016),
 Row(year(year)=2006),
 Row(year(year)=2004),
 Row(year(year)=2008),
 Row(year(year)=2012),
 Row(year(year)=2008),
 Row(year(year)=2011),
 Row(year(year)=2016),
 Row(year(year)=2016),
 Row(year(year)=2012),
 Row(year(year)=2012),
 Row(year(year)=2016),
 Row(year(year)=2015),
 Row(year(year)=2008),
 Row(year(year)=2018),
 Row(year(year)=2014),
 Row(year(year)=2015),
 Row(year(year)=2008),
 Row(year(year)=2010),
 Row(year(year)=2008),
 Row(year(year)=2014),
 Row(year(year)=2016),
 Row(year(year)=2014),
 Row(year(year)=2011),
 Row(year(year)=2015),
 Row(year(year)=2012),
 Row(year(year)=2007),
 Row(year(year)=2006),
 Row(year(year)=2015),
 Row(year(year)=2004),
 Row(year(year)=2015),
 Row(year(year)=2014),
 Row(year(year)=2009),
 Row(year(year)=2006),
 Row(year(year)=2017),
 Row(year(year)=2011),
 Row(year(year)=2007),
 Row(year(year)=2010),
 Row(year(year)=2006),
 Row(year(year)=2016),
 Row(year(year)=2012),
 Row(year(year)=2016),
 Row(year(year)=2004),
 Row(year(year)=2016),
 Row(year(year)=2016),
 Row(year(year)=2008),
 Row(year(year)=2008),
 Row(year(year)=2012),
 Row(year(year)=2011),
 Row(year(year)=2017),
 Row(year(year)=2006),
 Row(year(year)=2015),
 Row(year(year)=2015),
 Row(year(year)=2014),
 Row(year(year)=2019),
 Row(year(year)=None),
 Row(year(year)=1994),
 Row(year(year)=2020),
 Row(year(year)=2007),
 Row(year(year)=2011),
 Row(year(year)=2021),

In [121]:
df.show(5)

+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|7222695916|https://prescott....|            prescott|https://prescott....| 6000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   az|NULL|NULL|        NULL|
|7218891961|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ar|NULL|NULL|        NULL|
|7221797935|https://keys.crai...|        florida keys|https://keys.crai...|21000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   fl|NULL|NULL|        NULL|
|7222270760|https://worcester...|worcester / centr...|https://worcester...| 1500|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ma|NULL|NULL|        NULL|
|7210384030|https://greensbor...|          greensboro|https://greensbor...| 4900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   nc|NULL|NULL|        NULL|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
only showing top 5 rows

In [122]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- url: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_url: string (nullable = true)
 |-- price: string (nullable = true)
 |-- year: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- size: string (nullable = true)
 |-- type: string (nullable = true)
 |-- paint_color: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- description: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- posting_date: string (nullable = true)

In [124]:
df.count()

441802

In [129]:
df.select(['price', 'year', 'manufacturer']).show(5)

+-----+----+------------+
|price|year|manufacturer|
+-----+----+------------+
| 6000|NULL|        NULL|
|11900|NULL|        NULL|
|21000|NULL|        NULL|
| 1500|NULL|        NULL|
| 4900|NULL|        NULL|
+-----+----+------------+
only showing top 5 rows

In [130]:
df.select(col('year'), col('price'), col('manufacturer')).show(5)

+----+-----+------------+
|year|price|manufacturer|
+----+-----+------------+
|NULL| 6000|        NULL|
|NULL|11900|        NULL|
|NULL|21000|        NULL|
|NULL| 1500|        NULL|
|NULL| 4900|        NULL|
+----+-----+------------+
only showing top 5 rows

In [146]:
year_not_null = df.filter(col('year').isNotNull())

year_not_null.withColumns({
    'year': col('year').cast(ShortType()),
    'id': col('id').cast(LongType()),
    'manufacturer': col('manufacturer').cast(StringType()),
}).show()

+----------+--------------------+------+--------------------+-----+----+------------+--------------------+---------+-----------+-----+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+------+-----+-------+----------+--------------------+
|        id|                 url|region|          region_url|price|year|manufacturer|               model|condition|  cylinders| fuel|odometer|title_status|transmission|              VIN|drive|     size|  type|paint_color|           image_url|         description|county|state|    lat|      long|        posting_date|
+----------+--------------------+------+--------------------+-----+----+------------+--------------------+---------+-----------+-----+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+------+-----+-------+----------+--------------------+
|7316814884|https://auburn.cr...|auburn|https://auburn.cr...|33590|2014|         gmc|sierra 1500 crew ...|     good|8 cylinders|  gas|   57923|       clean|       other|3GTP1VEC4EG551563| NULL|     NULL|pickup|      white|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-04T12:31:...|
|7316814758|https://auburn.cr...|auburn|https://auburn.cr...|22590|2010|   chevrolet|      silverado 1500|     good|8 cylinders|  gas|   71229|       clean|       other|1GCSCSE06AZ123805| NULL|     NULL|pickup|       blue|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-04T12:31:...|
|7316814989|https://auburn.cr...|auburn|https://auburn.cr...|39590|2020|   chevrolet| silverado 1500 crew|     good|8 cylinders|  gas|   19160|       clean|       other|3GCPWCED5LG130317| NULL|     NULL|pickup|        red|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-04T12:31:...|
|7316743432|https://auburn.cr...|auburn|https://auburn.cr...|30990|2017|      toyota|tundra double cab sr|     good|8 cylinders|  gas|   41124|       clean|       other|5TFRM5F17HX120972| NULL|     NULL|pickup|        red|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-04T10:41:...|
|7316356412|https://auburn.cr...|auburn|https://auburn.cr...|15000|2013|        ford|           f-150 xlt|excellent|6 cylinders|  gas|  128000|       clean|   automatic|             NULL|  rwd|full-size| truck|      black|https://images.cr...|2013 F-150 XLT V6...|  NULL|   al| 32.592|  -85.5189|2021-05-03T14:02:...|
|7316343444|https://auburn.cr...|auburn|https://auburn.cr...|27990|2012|         gmc|sierra 2500 hd ex...|     good|8 cylinders|  gas|   68696|       clean|       other|1GT220CG8CZ231238|  4wd|     NULL|pickup|      black|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-03T13:41:...|
|7316304717|https://auburn.cr...|auburn|https://auburn.cr...|34590|2016|   chevrolet|silverado 1500 do...|     good|6 cylinders|  gas|   29499|       clean|       other|1GCVKREH6GZ228691|  4wd|     NULL|pickup|     silver|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-03T12:41:...|
|7316285779|https://auburn.cr...|auburn|https://auburn.cr...|35000|2019|      toyota|              tacoma|excellent|6 cylinders|  gas|   43000|       clean|   automatic|             NULL|  4wd|     NULL| truck|       grey|https://images.cr...|Selling my 2019 T...|  NULL|   al|32.6013|-85.443974|2021-05-03T12:12:...|
|7316257769|https://auburn.cr...|auburn|https://auburn.cr...|29990|2016|   chevrolet|colorado extended...|     good|6 cylinders|  gas|   17302|       clean|       other|1GCHTCE37G1186784|  4wd|     NULL|pickup|        red|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-03T11:31:...|
|7316133914|https://auburn.cr...|auburn|https://auburn.cr...|38590|2011|   chevrolet|corvette grand sport|     good|8 cylinders|  gas|   30237|       clean|       other|1G1YR3DW3B5102190|  rwd|     NULL| other|        red|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-03T07:50:...|
|7316130053|https://auburn.cr...|auburn|https://auburn.cr...| 4500|1992|        jeep|            cherokee|excellent|6 cylinders|  gas|  192000|       clean|   automatic|             NULL|  4wd|     NULL|  NULL|       NULL|https://images.cr...|192k miles brand ...|  NULL|   al|32.6454|  -85.3783|2021-05-03T07:38:...|
|7315816316|https://auburn.cr...|auburn|https://auburn.cr...|32990|2017|        jeep|wrangler unlimite...|     good|6 cylinders|  gas|   30041|       clean|       other|1C4BJWDG5HL705371|  4wd|     NULL| other|     silver|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-02T12:22:...|
|7315770394|https://auburn.cr...|auburn|https://auburn.cr...|24590|2017|   chevrolet|silverado 1500 re...|     good|6 cylinders|  gas|   40784|       clean|       other|1GCNCNEH7HZ118773| NULL|     NULL|pickup|      white|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-02T10:51:...|
|7315756348|https://auburn.cr...|auburn|https://auburn.cr...|30990|2016|   chevrolet|colorado crew cab...|     good|       NULL|other|   34940|       clean|       other|1GCGTDE32G1341288|  4wd|     NULL|pickup|       blue|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-02T10:21:...|
|7315715960|https://auburn.cr...|auburn|https://auburn.cr...|27990|2014|      toyota|tacoma access cab...|     good|       NULL|other|   17805|       clean|       other|5TFTX4CN3EX042751| NULL|     NULL|pickup|        red|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-02T08:44:...|
|7315379459|https://auburn.cr...|auburn|https://auburn.cr...|37990|2016|   chevrolet|  camaro ss coupe 2d|     good|8 cylinders|  gas|    9704|       clean|       other|1G1FF1R79G0140582|  rwd|     NULL| coupe|        red|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-01T12:21:...|
|7315275975|https://auburn.cr...|auburn|https://auburn.cr...|33590|2014|      toyota|tundra crewmax sr...|     good|       NULL|other|   55251|       clean|       other|5TFEY5F15EX169621| NULL|     NULL|pickup|        red|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-01T09:21:...|
|7315275942|https://auburn.cr...|auburn|https://auburn.cr...|30990|2019|        ford|ranger supercrew ...|     good|       NULL|other|    1834|       clean|       other|1FTER4EH3KLA31326| NULL|     NULL|pickup|      black|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-01T09:21:...|
|7315270785|https://auburn.cr...|auburn|https://auburn.cr...|27990|2018|      nissan|frontier crew cab...|     good|6 cylinders|  gas|   37332|       clean|       other|1N6AD0EV5JN745213|  4wd|     NULL|pickup|     silver|https://images.cr...|Carvana is the sa...|  NULL|   al|  32.59|    -85.48|2021-05-01T09:11:...|
|7315039307|https://auburn.cr...|auburn|https://auburn.cr...|    0|2011|        jeep|             compass|excellent|       NULL|  gas|   99615|       clean|   automatic|             NULL| NULL|full-size|   SUV|       NULL|https://images.cr...|Call or text now ...|  NULL|   al|32.5475|  -85.4682|2021-04-30T16:35:...|
+----------+--------------------+------+--------------------+-----+----+------------+--------------------+---------+-----------+-----+--------+------------+------------+-----------------+-----+---------+------+-----------+--------------------+--------------------+------+-----+-------+----------+--------------------+
only showing top 20 rows